.itinerary-item {

	&.ng-enter {
		-webkit-animation: none;
		animation: none;
	}

	&.ng-leave {
		-webkit-animation: none;
		animation: none;
	}

	.tile-container {
		width: 100%;
		background: transparent;

		@media (min-width: 780px){
			position: absolute;
			right: 0;
			height: 100%;
			width: 50%;
		}

		@media (min-width: 700px) and (min-height: 900px) {
			position: absolute;
			right: 0;
			height: 100%;
			width: 50%;
		}

		@media (min-width: 1025px){
			width: 50%;
		}
	}

	&.ng-enter {
		z-index: 2 !important;
		-webkit-animation: nothing 0.7s linear;
		animation: nothing 0.7s linear;
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	&.ng-leave {
		z-index: 1 !important;
		-webkit-animation: nothing 0.7s linear;
		animation: nothing 0.7s linear;
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	@media (min-width: 780px){
		&.ng-enter {
			z-index: 1 !important;
			-webkit-animation: nothing 0.7s linear;
			animation: nothing 0.7s linear;
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.ng-leave {
			z-index: 0 !important;
			-webkit-animation: nothing 0.7s linear;
			animation: nothing 0.7s linear;
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.item-end {
			&.ng-enter {
				@include slideUpIn();
				z-index: 2 !important;
				-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}

			&.ng-leave {
				@include slideUpIn-reverse();
				z-index: 2 !important;
				-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
				animation-delay: 0.1s;
			}
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&.ng-enter {
			z-index: 1 !important;
			-webkit-animation: nothing 0.7s linear;
			animation: nothing 0.7s linear;
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.ng-leave {
			z-index: 0 !important;
			-webkit-animation: nothing 0.7s linear;
			animation: nothing 0.7s linear;
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.item-end {
			&.ng-enter {
				@include slideUpIn();
				z-index: 2 !important;
				-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}

			&.ng-leave {
				@include slideUpIn-reverse();
				z-index: 2 !important;
				-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
				animation-delay: 0.1s;
			}
		}
	}
}

.direction-next {
	.itinerary-item {
		&.ng-enter {
			@include slideLeftIn();
			-webkit-animation: slideLeftIn 0.7s cubic-bezier(.23,1,.32,1);
			animation: slideLeftIn 0.7s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.ng-leave {
			@include slideRightOut();
			-webkit-animation: slideRightOut 0.7s cubic-bezier(.23,1,.32,1);
			animation: slideRightOut 0.7s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}
}

.direction-prev {
	.itinerary-item {
		&.ng-enter {
			@include slideRightIn();
			-webkit-animation: slideRightIn 0.7s cubic-bezier(.23,1,.32,1);
			animation: slideRightIn 0.7s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&.ng-leave {
			@include slideLeftOut();
			-webkit-animation: slideLeftOut 0.7s cubic-bezier(.23,1,.32,1);
			animation: slideLeftOut 0.7s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}
}

@media (min-width: 780px){
	.direction-next {
		.itinerary-item {
			&.ng-enter {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;

				.itinerary-item-content-panel-inner {
					@include slideFadeUpIn();
					-webkit-animation: slideFadeUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.ng-leave {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;

				.itinerary-item-content-panel-inner {
					@include slideFadeDownOut();
					-webkit-animation: slideFadeDownOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeDownOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-beforeend {
				&.ng-leave {
					@include fadeOut();
					-webkit-animation: fadeOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: fadeOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-end {
				&.ng-enter {
					@include slideUpIn();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}

				&.ng-leave {
					@include slideUpIn-reverse();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					animation-delay: 0.1s;
				}
			}
		}
	}

	.direction-next {
		.transition-tile1 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile2 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile3 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
	}

	.direction-prev {
		.itinerary-item {
			&.ng-enter {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;

				.itinerary-item-content-panel-inner {
					@include slideFadeDownIn();
					-webkit-animation: slideFadeDownIn 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeDownIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.ng-leave {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;

				.itinerary-item-content-panel-inner {
					@include slideFadeUpOut();
					-webkit-animation: slideFadeUpOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeUpOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-beforeend {
				&.ng-enter {
					@include fadeIn();
					-webkit-animation: fadeIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: fadeIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}
			}

			&.item-end {
				&.ng-enter {
					@include slideUpIn();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}

				&.ng-leave {
					@include slideUpIn-reverse();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					animation-delay: 0.1s;
				}
			}
		}
	}

	.direction-prev {
		.transition-tile1 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile2 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile3 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 700px) and (min-height: 900px) {
	.direction-next {
		.itinerary-item {
			&.ng-enter {
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
				-webkit-transform: translateX(0);
				transform: translateX(0);

				.itinerary-item-content-panel-inner {
					@include slideFadeUpIn();
					-webkit-animation: slideFadeUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.ng-leave {
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
				-webkit-transform: translateX(0);
				transform: translateX(0);

				.itinerary-item-content-panel-inner {
					@include slideFadeDownOut();
					-webkit-animation: slideFadeDownOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeDownOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-beforeend {
				&.ng-leave {
					@include fadeOut();
					-webkit-animation: fadeOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: fadeOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-end {
				&.ng-enter {
					@include slideUpIn();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}

				&.ng-leave {
					@include slideUpIn-reverse();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					animation-delay: 0.1s;
				}
			}
		}
	}

	.direction-next {
		.transition-tile1 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile2 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile3 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideUpIn();
							-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideDownOut();
							-webkit-animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation: slideDownOut 0.7s cubic-bezier(.23,1,.32,1);
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
	}

	.direction-prev {
		.itinerary-item {
			&.ng-enter {
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
				-webkit-transform: translateX(0);
				transform: translateX(0);

				.itinerary-item-content-panel-inner {
					@include slideFadeDownIn();
					-webkit-animation: slideFadeDownIn 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeDownIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.ng-leave {
				-webkit-animation: nothing 0.7s linear;
				animation: nothing 0.7s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
				-webkit-transform: translateX(0);
				transform: translateX(0);

				.itinerary-item-content-panel-inner {
					@include slideFadeUpOut();
					-webkit-animation: slideFadeUpOut 0.7s cubic-bezier(.23,1,.32,1);
					animation: slideFadeUpOut 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
			}

			&.item-beforeend {
				&.ng-enter {
					@include fadeIn();
					-webkit-animation: fadeIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: fadeIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}
			}

			&.item-end {
				&.ng-enter {
					@include slideUpIn();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s cubic-bezier(.23,1,.32,1);
					animation-delay: 0.1s;
				}

				&.ng-leave {
					@include slideUpIn-reverse();
					z-index: 2 !important;
					-webkit-animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					-webkit-animation-delay: 0.1s;
					animation: slideUpIn 0.7s reverse cubic-bezier(0.77,0,0.67,0);
					animation-delay: 0.1s;
				}
			}
		}
	}

	.direction-prev {
		.transition-tile1 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-1 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile2 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-2 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
		.transition-tile3 {
			.itinerary-item {
				&.ng-enter {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideDownIn();
							-webkit-animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideDownIn 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}

				&.ng-leave {
					.itinerary-tile-item-3 {
						.itinerary-tile-item-inner {
							@include slideUpOut();
							-webkit-animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							animation: slideUpOut 0.7s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
						}
					}
				}
			}
		}
	}
}

@import "content-panel/content-panel.scss";
@import "content-tile/content-tile.scss";