	<div id="content-container-{{vm.itemSlug}}" class="itinerary-item-content-panel">
		<content-panel itinerary-item="vm.itineraryItem" nav-state="navState" toggle-content="vm.toggleContent()" toggle-state="vm.expandContent"></content-panel>
	</div>
	
	<div id="tile-container-{{vm.itemSlug}}" class="tile-container">
		<content-tile ng-if="vm.itineraryItem.tileslot1" tile="vm.itineraryItem.tileslot1" classes="itinerary-tile-item-1" id="tile1"></content-tile>
		<content-tile ng-if="vm.itineraryItem.tileslot2" tile="vm.itineraryItem.tileslot2" classes="itinerary-tile-item-2" id="tile2"></content-tile>
		<content-tile ng-if="vm.itineraryItem.tileslot3" tile="vm.itineraryItem.tileslot3" classes="itinerary-tile-item-3" id="tile3"></content-tile>
	</div>