@import "top-nav-item/top-nav-item.scss";
@import "dot-nav/dot-nav.scss";
@import "map/map.scss";
@import "social-share/social-share.scss";
@import "hint/hint.scss";

.page-itinerary {
	margin-top: 42px;
	overflow: hidden;

	.root-container {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		max-height: 100%;

		&.ng-enter {
			z-index: 2;
			@include slideLeftIn();
			-webkit-animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}

	.top-nav {
		margin: 0px;
		padding: 0px;
		border: 0px;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -200%;
		z-index: 100;
		-webkit-transition: left 0.5s ease-out;
		transition: left 0.5s ease-out;

		.main-header {
			width: auto;
			max-width: 100%;
			right: 70px;
			left: 0;
			z-index: 2;
			position: absolute;
			top: 0;

			h1 {
				font-size: 17px;
				margin: 17px 0 0px !important;
			} 

			h4 {
				font-size: 13px;
				margin: 0;
				padding: 3px 0 0;
				color: $text-light-grey;
				font-weight: normal;
				font-style: italic;
			}

			p {
				margin: 15px 0 0px !important;
			}

			&-qatar-logo {
				height: 22px;
				width: 66px;
				float: right;
			}
		}

		&-inner {
			position: absolute;
			top: 70px;
			bottom: 0;
			width: auto;
			max-width: 100%;
			z-index: 1;
			left: 0;
    		right: 70px;
		}

		&-mobile-close {
			position: fixed;
			background: transparent;
			top: 42px;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;
			z-index: 0;
			display: none;

			&-inner {
				background: rgba(0,0,0,0.85);
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transition: opacity 0.5s ease-out;
				transition: opacity 0.5s ease-out;
			}

			.button {
				text-align: center;
				overflow: hidden;
				display: block;
				width: 40px;
				height: 40px;
				display: block;
				top: 20px;
				right: 15px;
				position: absolute;
				z-index: 1;

				svg {
					width: 30px !important;
					height: 30px !important;

					path,
					polygon {
						fill: white;
					}
				}
			}
		}

		&.open {
			display: block;
			margin: 0 !important;
			border: 0 !important;
			left: 0;

			.top-nav-inner {
				-webkit-box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
				left: 0;
			}

			.main-header {
				left: 0;
			}

			.top-nav-mobile-close {
				display: block;

				&-inner {
					opacity: 1;
				}
			}
		}
	}

	.mobile-nav-open {
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 3;
		width: 40px;
		height: 40px;

		a {
			text-align: center;
			overflow: hidden;
			padding: 12px 8px 9px 8px;
			display: block;
			width: 24px;
			height: 19px;
			display: block;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background: rgba(0,0,0,0.75);

			path {
				fill: white;
			}
		}
	}

	.container-itinerary {
		height: 100%;

		.itinerary-item {
			height: 50%;
			width: 100%;
			float: left;
			position: absolute;
			/*overflow: hidden;*/
			bottom: 0;
			z-index: 1;
			background: transparent;
			-ms-transition: height 0.2s ease-out;
			-o-transition: height 0.2s ease-out;
			-moz-transition: height 0.2s ease-out;
			-webkit-transition: height 0.2s ease-out;
			transition: height 0.2s ease-out;

			&.open {
				overflow-y: scroll !important;
				-webkit-overflow-scrolling: touch !important;
				height: 100%;
				z-index: 3;
				margin: 0 !important;
				border: 0 !important;

				.itinerary-tile-item-1 {
					opacity: 0;
				}
			}

			&.item-end {
				width: 100%;
				height: 100%;
				background: black;
				overflow-y: scroll !important;
				-webkit-overflow-scrolling: touch !important;
				z-index: 1;
				-ms-box-shadow: none;
				-o-box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		.map-container {
			width: 100%;
			height: 50%;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			z-index: 0;
			overflow: hidden;
			background: $background-map;
		}
	}

	@media (max-width:779px), (max-width: 699px) and (max-height: 899px) {
		.root-container {
			&.ng-enter {
				.itinerary-tile-item-1 {
					position: absolute;
					top: -100%;
				}
			}

			&.ng-leave {
				.itinerary-tile-item-1 {
					position: absolute;
					top: -100%;
				}
			}
		}

		&.ng-enter {
			.itinerary-tile-item-1 {
				position: absolute;
				top: -100%;
			}
		}

		&.ng-leave {
			.itinerary-tile-item-1 {
				position: absolute;
				top: -100%;
			}
		}
	}

	@media (min-width: 780px){
		margin-top: 42px;
		-webkit-transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;

		&.video-playing {
			margin-top: 0px;
		}

		.root-container {
			top: 0;
			
			&.ng-enter {
				z-index: 2;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}
		}

		.top-nav {
			max-height: 40px;
			min-height: 40px;
			height: 40px;
			width: 100%;
			top: 0;
			bottom: auto;
			left: auto;
			z-index: 3;
			background: $background-grey;
			-webkit-transition: none;
			transition: none;

			.main-header {
				display: none;
				-webkit-transition: none;
				transition: none;
			}

			&-inner {
				position: static;
				top: auto;
				bottom: auto;
				width: auto;
				-webkit-transition: none;
				transition: none;
			}

			&-mobile-close {
				display: none;
			}

			&.open {
				.top-nav-mobile-close {
					display: none;
				}
			}
		}

		.mobile-nav-open {
			display: none;
		}

		.container-itinerary {
			width: 100%;
			position: absolute;
			top: 40px;
			bottom: 0;
			max-height: 100%;
			height: auto;

			.itinerary-item {
				height: 100%;
				overflow: hidden;
				position: absolute;
				bottom: auto;
				z-index: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				-webkit-transition: none;
				transition: none;

				&.open {
					overflow: hidden !important;
					z-index: 0;
				}

				&.item-end {
					overflow: hidden !important;
					z-index: 2;
				}
			}

			.map-container {
				width: 50%;
				height: 33.33333%;
				position: absolute;
				top: 33.33333%;
				right: 0px;
				left: auto;
				bottom: auto;
				float: none;
				z-index: 1;
			}
		}
	}
	
	@media (min-width: 700px) and (min-height: 900px) {
		margin-top: 42px;
		-webkit-transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;

		&.video-playing {
			margin-top: 0px;
		}

		.root-container {
			top: 0;

			&.ng-enter {
				z-index: 2;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}
		}

		.top-nav {
			max-height: 40px;
			min-height: 40px;
			height: 40px;
			width: 100%;
			top: 0;
			bottom: auto;
			left: auto;
			z-index: 3;
			background: $background-grey;
			-webkit-transition: none;
			transition: none;

			&-inner {
				position: static;
				top: auto;
				bottom: auto;
				width: auto;
			}

			&-mobile-close {
				display: none;
			}

			&.open {
				.top-nav-mobile-close {
					display: none;
				}
			}

			.main-header {
				display: none;
			}
		}

		.mobile-nav-open {
			display: none;
		}

		.container-itinerary {
			width: 100%;
			position: absolute;
			top: 40px;
			bottom: 0;
			max-height: 100%;
			height: auto;

			.itinerary-item {
				height: 100%;
				overflow: hidden;
				position: absolute;
				bottom: auto;
				z-index: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				-webkit-transition: none;
				transition: none;

				&.open {
					overflow: hidden !important;
					z-index: 0;
				}

				&.item-end {
					overflow: hidden !important;
					z-index: 2;
				}
			}

			.map-container {
				width: 50%;
				height: 33.33333%;
				position: absolute;
				top: 33.33333%;
				right: 0px;
				left: auto;
				bottom: auto;
				float: none;
				z-index: 1;
			}
		}
	}
	@media (min-width: 1025px){
		.container-itinerary {
			width: 100%;
			position: absolute;
			top: 40px;
			bottom: 0;
			max-height: 100%;
			height: auto;

			.itinerary-item {
				height: 100%;
				width: 66.66667%;		
				float: left;
				position: absolute;
				-webkit-box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
				z-index: 1;
			}

			.map-container {
				position: absolute;
				right: 0;
				top: 0px;
				width: 33.33333%;
				height: 100%;
				z-index: 0;
			}
		}
	}
	@media (min-width: 1180px){

	}
	@media (min-width: 1340px){

	}
}