.hint {
	display: none;

	@media (min-width: 780px){
		display: block;
		height: 136px;
		width: 136px;
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateY(54px);
		transform: translateY(54px);
		opacity: 1;
		margin-left: -68px;
		background: rgba(33,33,33,0.85);
		-webkit-box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.4);
		-webkit-border-radius: 50%;
		border-radius: 50%;
		z-index: 3;

		.mouse {
			width: 18px;
			height: 30px;
			border: 2px solid white;
			border-radius: 9px;
			margin: auto;
			margin-top: 14px;
		}

		.scroller {
			width: 4px;
			height: 4px;
			border-radius: 2px;
			background: white;
			position: relative;
			top: 5px;
			left: 7px;
			-webkit-animation: scrolls 1.3s ease-in infinite ; /* Chrome, Safari, Opera */
			animation: scrolls 1.3s ease-in infinite ; /* Chrome, Safari, Opera */
		}

		.label {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			margin-top: 6px;
			font-size: 13px;
		}

		&.ng-enter {
			-webkit-transform: translateY(166px);
			transform: translateY(166px);
			opacity: 0;
			-webkit-animation: hint 0.7s ease-in;
			-webkit-animation-delay: 0.1s;
			animation: hint 0.7s ease-in;
			animation-delay: 0.1s;
		}

		&.ng-leave {
			-webkit-transform: translateY(54px);
			transform: translateY(54px);
			opacity: 1;
			-webkit-animation: hint 0.7s reverse ease-out;
			-webkit-animation-delay: 0.1s;
			animation: hint 0.7s reverse ease-out;
			animation-delay: 0.1s;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		display: none;
	}

	@media (min-width: 1025px){
		display: block;
	}
}
