@import "header/header.scss";
@import "panel/panel.scss";
@import "panel-emblem/panel-emblem.scss";

.page-main {
	margin-top: 112px;

	.main-container {
		width: 100%;
		position: relative;
		height: 100%;
	}

	.root-container {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		max-height: 100%;

		&.ng-enter {
			z-index: 9999;
			@include slideLeftIn();
			-webkit-animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}

	@media (min-width: 780px){
		.main-container {
			width: 100%;
			position: absolute;
			top: 75px;
			max-height: 100%;
			bottom: 0;
			height: auto;
		}

		margin-top: 42px;
		-webkit-transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;

		&.video-playing {
			margin-top: 0px;
		}

		.root-container {
			&.ng-enter {
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		.main-container {
			width: 100%;
			position: absolute;
			top: 75px;
			max-height: 100%;
			bottom: 0;
			height: auto;
		}

		margin-top: 42px;
		-webkit-transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		transition: margin 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;

		&.video-playing {
			margin-top: 0px;
		}

		.root-container {
			&.ng-enter {
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation-delay: 0.1s;
			}
		}
	}
}