<video ng-if="vm.showVideo" show-video="vm.showVideo"></video>

<div class="root-container" ng-if="!vm.showVideo">
	
	<main-header></main-header>

	<div class="main-container">
		<main-panel ng-repeat="itinerary in vm.itineraries | orderBy: order track by $index" itinerary="itinerary"></main-panel>
	</div>

</div>