<div>
	<div class="itinerary-item-content-panel-inner" id="content-container-inner-{{vm.itineraryItem.slug}}" ng-if="vm.itineraryItem.type === 'stop'">
		<a href="" class="mobile-toggle-content" ng-click="vm.toggleContent()" ng-class="{active: vm.toggleState}">
			<svg viewBox="0 0 26 26" class="icon expand">
				<title>Icon meaning expand content</title>
				<path d="M0,25.42L0.57,26H9.15V24.52l-5.3-.69,6.8-6.8L9,15.36,2.17,22.16l-0.69-5.3H0v8.57" />
				<path d="M22.16,2.17L15.36,9,17,10.64l6.79-6.79,0.69,5.3H26V0.57L25.43,0H16.85V1.48Z" />
			</svg>
			<svg viewBox="0 0 27.12 27.12" class="icon collapse">
				<title>Icon meaning collapse content</title>
				<polygon points="27.12 25.45 15.23 13.56 27.12 1.67 25.45 0 13.56 11.89 1.67 0 0 1.67 11.89 13.56 0 25.45 1.67 27.12 13.56 15.23 25.45 27.12 27.12 25.45" />
			</svg>
		</a>
		
		<h5>
			<span>
				<svg viewBox="0 0 20.6 26.24" class="icon icon-sm icon-pad-right icon-feature">
					<title>Icon meaning location</title>
					<path d="M11.3,1.88A10.28,10.28,0,0,0,1,12.14s0,0,0,0a11.63,11.63,0,0,0,.85,4.15A35.44,35.44,0,0,0,11.3,28.12a35.19,35.19,0,0,0,9.45-11.87,11.63,11.63,0,0,0,.85-4.15A10.26,10.26,0,0,0,11.3,1.88h0Zm0,16.58a6.4,6.4,0,1,1,6.4-6.4h0A6.4,6.4,0,0,1,11.3,18.46Z" />
				</svg> Location
			</span><br />
			{{vm.itineraryItem.location}}
		</h5>
		<h2>
			<span>{{vm.itineraryItem.order}}.</span></br>
			{{vm.itineraryItem.title}}
		</h2>

		<div class="intro" ng-bind-html="vm.itineraryItemIntro"></div>

		<div class="body-1" ng-bind-html="vm.itineraryItemBody"></div>

		<ul class="details">

			<li class="details-item" ng-if="vm.itineraryItem.detailwebsite">
				<h5>
					<svg viewBox="0 0 24.64 24.64" class="icon icon-sm icon-pad-right icon-feature">
						<title>Icon meaning website</title>
						<path d="M13.32,2.68A12.32,12.32,0,1,0,25.64,15,12.32,12.32,0,0,0,13.32,2.68h0ZM9.84,5.34a11.67,11.67,0,0,0-1.78,3.5h-3A10.42,10.42,0,0,1,9.84,5.34ZM4.23,10.21H7.68a21.31,21.31,0,0,0-.52,4.11H3.08A9.89,9.89,0,0,1,4.23,10.21Zm0,9.58a10.34,10.34,0,0,1-1.18-4.11H7.13a21.3,21.3,0,0,0,.52,4.11H4.23Zm0.88,1.37h3a12,12,0,0,0,1.78,3.5A10.42,10.42,0,0,1,5.11,21.16Zm7.53,4c-1.26-.41-2.35-1.89-3.12-4h3.12v4Zm0-5.37H9.1a19.05,19.05,0,0,1-.57-4.11h4.11v4.11Zm0-5.47H8.53a19,19,0,0,1,.57-4.11h3.53v4.11h0Zm0-5.47H9.51c0.74-2.11,1.86-3.59,3.12-4v4h0Zm8.9,0h-3a12,12,0,0,0-1.78-3.5,10.42,10.42,0,0,1,4.77,3.49h0ZM14,4.84c1.26,0.41,2.35,1.89,3.12,4H14v-4Zm0,5.37h3.53a19,19,0,0,1,.58,4.11H14V10.21Zm0,5.47h4.11a19,19,0,0,1-.58,4.11H14V15.68Zm0,9.47v-4h3.12c-0.76,2.12-1.86,3.59-3.12,4h0Zm2.79-.49a11.66,11.66,0,0,0,1.78-3.5h3A10.42,10.42,0,0,1,16.79,24.66Zm5.61-4.87H19a21.29,21.29,0,0,0,.52-4.11H23.6a9.89,9.89,0,0,1-1.19,4.11h0Zm1.15-5.47H19.48A21.28,21.28,0,0,0,19,10.21h3.45a9.89,9.89,0,0,1,1.11,4.11h0Z" />
					</svg> Website
				</h5>
				<p class="detail-web" ng-bind-html="vm.itineraryItemDetailWebsite"></p>
			</li>

			<li class="details-item" ng-if="vm.itineraryItem.detailextra">
				<h5>
					<svg viewBox="0 0 13 13" class="icon icon-sm icon-pad-right icon-feature">
						<title>Icon meaning additional info</title>
						<polygon points="7.5 5.5 7.5 3.2 5.5 3.2 5.5 5.5 3.3 5.5 3.3 7.5 5.5 7.5 5.5 9.8 7.5 9.8 7.5 7.5 9.7 7.5 9.7 5.5 7.5 5.5" />
						<path d="M6.5,1.3a5.16,5.16,0,0,1,5.2,5.2,5.16,5.16,0,0,1-5.2,5.2A5.16,5.16,0,0,1,1.3,6.5,5.23,5.23,0,0,1,6.5,1.3M6.5,0A6.5,6.5,0,1,0,13,6.5,6.49,6.49,0,0,0,6.5,0h0Z" />
					</svg>
					Additional Info
				</h5>
				<p class="detail-extra" ng-bind-html="vm.itineraryItemDetailExtra"></p>
			</li>

		</ul>
	</div>

	<div class="itinerary-item-content-panel-bg" ng-show="vm.bgimage !== undefined && vm.itineraryItem.type === 'end'" ng-style="{'background-image':'url('+vm.bgimage+')'}"></div>
	<div class="itinerary-item-content-panel-inner" id="content-container-inner-{{vm.itineraryItem.slug}}" ng-if="vm.itineraryItem.type === 'end'">
		<h2>
			{{vm.itineraryItem.title}}
		</h2>

		<h3>
			{{vm.itineraryItem.subtitle}}
		</h3>

		<p>
			<a href="" ng-click="goToMain()" class="discover-btn">
				Discover
				<svg viewBox="0 0 20.1 9.8" class="down-arrow">
					<polygon points="17.4 0 10 7.2 2.6 0 0 0 10 9.8 20.1 0 17.4 0" />
				</svg>
			</a>
		</p>

		<hr />

		<div class="fancy">
			<div class="intro" ng-bind-html="vm.itineraryItemIntro"></div>
			<p class="detail-web">
				<svg viewBox="0 0 21.9 19.25" class="icon icon-sm icon-pad-right">
					<path d="M0,9.6a0.9,0.9,0,0,0,.9.9l18.2-.1-7.4,7.4a0.86,0.86,0,0,0-.3.6,1.42,1.42,0,0,0,.2.6,0.91,0.91,0,0,0,1.2,0l8.8-8.8a0.75,0.75,0,0,0,0-1.2L13,0.2a0.91,0.91,0,0,0-1.2,0,0.91,0.91,0,0,0,0,1.2l7.1,7.1-18,.1A1.06,1.06,0,0,0,0,9.6Z" />
				</svg>
				<span ng-bind-html="vm.itineraryItemDetailWebsite"></span>
			</p>
		</div>

		<hr />

		<p><small>* Conditions apply</small></p>
	</div>
</div>