.itinerary-item-content-panel {
	width: 100%;
	position: relative;
	background-color: black;
	z-index: 1;

	&-bg {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.3;
		-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
		transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);

		&.ng-hide {
			display: block !important;
			opacity: 0;
			-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
		}
	}

	& > div {
		width: 100%;
	}

	&-inner {
		padding: 20px 20px 40px;
		position: relative;
		z-index: 1;
	}

	h5 {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-size: 13px;
		margin-right: 50px;

		span {
			color: $text-feature;
		}
	}

	h2 {
		text-transform: uppercase;
		font-weight: normal;
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 30px;

		span {
			text-transform: none;
			font-weight: bold;
		}
	}

	p {
		a {
			color: white;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: $text-feature;
			}
		}
	}

	.mobile-toggle-content {
		text-align: center;
		overflow: hidden;
		display: block;
		width: 30px;
		height: 30px;
		display: block;
		background: rgba(0,0,0,0.9);
		top: 20px;
		right: 20px;
		position: absolute;
		margin: 0;

		svg {
			width: 30px !important;
			height: 30px !important;

			path,
			polygon {
				fill: #838383 !important;
			}
		}

		.expand {
			display: inline-block !important;
		}
		.collapse {
			display: none !important;
		}

		&.active {
			margin: 0;

			.expand {
				display: none !important;
			}
			.collapse {
				display: inline-block !important;
			}
		}
	}

	.details {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		overflow: hidden;
		padding-top: 20px;

		&-item {
			margin: 0;
			padding: 0 0 10px;
			display: block;
			width: auto;

			h5 {
				color: $text-feature;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 5px;
				font-size: 13px;
			}

			p {
				word-wrap: break-word;
			}

			a {
				color: white;
				text-decoration: underline;

				&:hover,
				&:focus {
					color: $text-feature;
				}
			}
		}
	}

	@media (max-height: 400px){
		h2 {
			br {
				display: none;
			}
		}

		h5 {
			margin-bottom: 5px;
		}
	}

	@media (min-width: 780px){
		position: relative;
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;

		&-inner {
			padding: 40px 50px;
		}

		h2 {
			font-size: 49px;
			line-height: 45px;
			margin-bottom: 40px;
		}

		h5 {
			margin-bottom: 30px;
			margin-right: 0px;
		}

		.mobile-toggle-content {
			display: none;
		}

		.details {
			padding-top: 30px;

			&-item {
				width: 45%;
				padding-right: 5%;
				float: left;
			}
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		position: relative;
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;

		&-inner {
			padding: 40px 50px;
		}

		h2 {
			font-size: 43px;
			line-height: 40px;
			margin-bottom: 40px;
		}

		h5 {
			margin-bottom: 30px;
			margin-right: 0px;
		}

		.mobile-toggle-content {
			display: none;
		}

		.details {
			padding-top: 30px;

			&-item {
				width: 45%;
				padding-right: 5%;
				float: left;
			}
		}
	}

	@media (min-width: 1025px){
		width: 50%;
	}

	@media (min-width: 1280px) and (min-height: 900px){
		p {
			font-size: 15px;
			line-height: 19px;
		}
		h2 {
			font-size: 48px;
			line-height: 45px;
			margin-right: 15%;
		}
		h5 {
			font-size: 16px;
			line-height: 22px;

			svg {
				width: 15px !important;
    			height: 15px !important;
			}
		}
		.details {
			&-item {
				h5 {
					font-size: 16px;
					margin-bottom: 8px;

					svg {
						width: 15px !important;
		    			height: 15px !important;
					}
				}
			}
		}
	}

	@media (min-width: 1600px) and (min-height: 900px){
		p {
			font-size: 17px;
			line-height: 21px;
		}
		h2 {
			font-size: 53px;
			line-height: 50px;
			margin-right: 25%;
		}
		h5 {
			font-size: 18px;
			line-height: 22px;

			svg {
				width: 17px !important;
    			height: 17px !important;
			}
		}
		.details {
			&-item {
				h5 {
					font-size: 18px;
					margin-bottom: 10px;

					svg {
						width: 17px !important;
		    			height: 17px !important;
					}
				}
			}
		}
	}
}

.itinerary-item.item-end {
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;

	.itinerary-item-content-panel {
		width: 100%;
		min-height: 100%;
		position: relative;

		& > div {
			width: 100%;
			position: relative;
			min-height: 100%;
		}

		&-inner {
			width: auto;
			bottom: 0px;
			left: 0px;
			padding: 20px 20px 70px;
		}

		.fancy {
			font-style: italic;
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 20px;
			color: $text-light-grey;
		}

		small {
			color: $text-light-grey;	
		}

		.detail-web {
			font-weight: bold;

			svg {
				width: 20px !important;
				height: 18px !important;
				margin-bottom: -3px;

				path {
					fill: $text-light-grey !important;
				}
			}

			a {
				color: $text-light-grey;

				&:hover {
					color: white;
				}
			}
		}

		.discover-btn {
			padding: 8px 18px;
			display: inline-block;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			background: $background-qatar;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			position: relative;
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;

			.down-arrow {
				opacity: 0;
				right: 8px;
				top: 0;
				position: absolute;
				width: 14px;
				height: 7px;
				-webkit-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;

				polygon {
					fill: $background-qatar;
				}
			}

			&:hover {
				background: white;
				color: $background-qatar;
				padding: 8px 28px 8px 8px;
				-webkit-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;

				.down-arrow {
					opacity: 1;
					top: 14px;
					-webkit-transition: all 0.2s ease-in;
					transition: all 0.2s ease-in;

					polygon {
						fill: $background-qatar;
					}
				}
			}
		}

		h2 {
			text-transform: none;
			margin-bottom: 15px;
			margin-top: 70px !important;
			font-size: 31px;
			line-height: 34px;
		}

		h3 {
			font-weight: normal;
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 20px;
		}

		@media (min-width: 780px){
			position: relative;
			width: 100%;

			&-inner {
				position: relative;
				width: auto;
				padding: 20px 30% 40px 50px;
			}

			h2 {
				font-size: 43px;
				line-height: 48px;
			}

			h3 {
				font-size: 19px;
				line-height: 24px;
			}

			.fancy {
				font-size: 19px;
				line-height: 24px;
			}
		}

		@media (min-width: 700px) and (min-height: 900px) {
			width: 100%;
			position: relative;

			&-inner {
				position: relative;
				width: auto;
				padding: 20px 40% 40px 50px;
			}

			h2 {
				font-size: 43px;
				line-height: 48px;
			}

			h3 {
				font-size: 19px;
				line-height: 24px;
			}

			.fancy {
				font-size: 19px;
				line-height: 24px;
			}
		}

		@media (min-width: 1025px){
			width: 100%;

			&-inner {
				position: relative;
				width: auto;
				padding: 20px 60% 40px 50px;
			}
		}

		@media (min-width: 1280px) and (min-height: 900px){
			&-inner {
				position: absolute;
				width: auto;
				padding: 20px 60% 50px 50px;
			}

			h2 {
				font-size: 48px;
				line-height: 49px;
				margin-bottom: 30px;
			}

			h3 {
				font-size: 22px;
				line-height: 27px;
			}

			.fancy,
			.fancy p {
				font-size: 20px;
				line-height: 25px;
			}
		}

		@media (min-width: 1600px) and (min-height: 900px){
			&-inner {
				position: absolute;
				width: auto;
				padding: 20px 60% 50px 50px;
			}

			h2 {
				font-size: 53px;
				line-height: 50px;
				margin-bottom: 30px;
			}

			h3 {
				font-size: 24px;
				line-height: 29px;
			}

			.fancy,
			.fancy p {
				font-size: 21px;
				line-height: 25px;
			}
		}
	}
}