.itinerary-dot-nav {
    bottom: 0;
    width: auto;
    height: 40px;
    left: 0;
    right: 0;
    text-align: center;
    background: black;
    padding: 0;
	position: absolute;
	z-index: 10;
	margin: 0;
	list-style: none !important;

	&-item {
		display: inline-block;
		width: 30px;
		height: 30px;
		list-style: none !important;

		a {
			display: block;
			width: 30px;
			height: 30px;
			position: relative;

			span {
				display: block;
				width: 6px;
				height: 6px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -5px;
				border: 2px solid rgba(255,255,255,0.5);
				-webkit-border-radius: 50%;
				border-radius: 50%;
				overflow: hidden;
				text-indent: -9000px;
				-webkit-transition: all 0.1s linear;
				transition: all 0.1s linear;
			}

			&:hover {
				span {
					background: white;
					border-color: white;
					width: 8px;
					height: 8px;
					margin-top: -6px;
					margin-left: -6px;
				}
			}
		}

		&.active {
			span {
				border-color: white;
				background: $background-qatar;
				width: 8px;
				height: 8px;
				margin-top: -6px;
				margin-left: -6px;
			}
		}
	}

	&-shadow {
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		height: 30px;
		background: rgba(0,0,0,0);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	}

	@media (min-width: 780px){
		display: block;
		list-style: none;
		right: 20px;
		left: auto;
		top: 50%;
		height: 270px;
		margin-top: -135px !important;
		width: 30px;
		background: transparent;

		&-item {
			display: block;
		}

		&-shadow {
			display: none;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		display: block;
		list-style: none;
		right: 20px;
		left: auto;
		top: 50%;
		height: 270px;
		margin-top: -135px !important;
		width: 30px;
		background: transparent;

		&-item {
			display: block;
		}
		
		&-shadow {
			display: none;
		}
	}
}