<ul class="itinerary-dot-nav">
	<li class="itinerary-dot-nav-shadow"></li>
	<li ng-repeat="itineraryItem in vm.itineraryItems | orderBy: order track by $index" class="itinerary-dot-nav-item" ng-class="{active: vm.active.index === $index}">
		<a href="" ng-click="vm.change({itinerary: vm.itinerary, stop: itineraryItem.slug, addClass: undefined, removeClass: undefined, index: $index})"><span>{{itineraryItem.title}}</span></a>
	</li>
</ul>