.main-header {
	background: $background-grey;
	margin: 0px;
	padding: 0px;
	border: 0px;
	max-height: 70px;
	min-height: 70px;
	height: 70px;
	width: 100%;
	position: absolute;
	top: -70px;
	overflow: hidden;

	&-left {
		width: 60%;
		float: left;
	}

	&-right {
		width: 40%;
		float: left;
	}

	&-right {
		text-align: right;
	}

	h1 {
		font-size: 19px;
		margin: 17px 0 0px !important;
		padding: 0px;
		font-weight: normal;
	} 

	h4 {
		font-size: 13px;
		margin: 0;
		padding: 3px 0 0;
		color: $text-light-grey;
		font-weight: normal;
		font-style: italic;
	}

	p {
		font-size: 10px;
		margin: 10px 0 0px !important;
		padding: 0px;
	}

	&-qatar-logo {
		height: 30px;
		width: 90px;
		float: right;

		svg {
			path,
			polygon {
				fill: white;
			}
		}
	}

	&-inner {
		padding: 0 20px;
	}

	@media (min-width: 780px){
		max-height: 75px;
		min-height: 75px;
		height: 75px;
		top: 0;

		&-left,
		&-right {
			width: 50%;
		}

		h1 {
			font-size: 28px;
			margin: 17px 0 5px !important;
		}

		h4 {
			font-size: 16px;
		}

		p {
			font-size: 12px;
			margin: 10px 0 5px !important;
		}

		&-qatar-logo {
			height: 33px;
			width: 99px;
		}

		&-inner {
			width: 740px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		max-height: 75px;
		min-height: 75px;
		height: 75px;
		top: 0;

		&-left,
		&-right {
			width: 50%;
		}

		h1 {
			font-size: 28px;
			margin: 17px 0 5px !important;
		}

		h4 {
			font-size: 16px;
		}

		p {
			font-size: 12px;
			margin: 10px 0 5px !important;
		}

		&-qatar-logo {
			height: 33px;
			width: 99px;
		}

		&-inner {
			width: 740px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (min-width: 1025px){
		&-inner {
			width: 980px;
		}
	}

	@media (min-width: 1180px){
		&-inner {
			width: 1140px;
		}
	}

	@media (min-width: 1340px){
		&-inner {
			width: 1300px;
		}
	}
}