<nav class="main-header">
	<div class="main-header-inner">
		<div class="main-header-left">
			<h1>Europe your way</h1>
			<h4><em>Choose your itinerary ></em></h4>
		</div>
		<div class="main-header-right">
			<p>Paid for by</p>
			<div class="main-header-qatar-logo">
				<svg viewBox="0 0 272.26 80.07">
					<title>Qatar Airways logo</title>
					<path d="M126.91,66.23c0.91,0,1.35-.2,1.35-0.84s-0.44-1-1.35-1h-0.17a0.92,0.92,0,0,0-.83,1A0.85,0.85,0,0,0,126.91,66.23Z" />
					<path d="M124.66,74.81v0h0v0Z" />
					<path d="M167.64,66c0.91,0,1.31-.2,1.31-0.84s-0.4-1-1.31-1h-0.21a0.93,0.93,0,0,0-.85,1A0.86,0.86,0,0,0,167.64,66Z" />
					<path d="M170.64,66c0.88,0,1.28-.29,1.28-0.84a1,1,0,0,0-1.28-1h-0.17a0.92,0.92,0,0,0-.83,1A0.85,0.85,0,0,0,170.64,66Z" />
					<path d="M124.07,66.23c0.91,0,1.31-.2,1.31-0.84s-0.4-1-1.31-1h-0.21a0.93,0.93,0,0,0-.85,1A0.86,0.86,0,0,0,124.07,66.23Z" />
					<path d="M178.78,66.27l-0.18.55a0.27,0.27,0,0,0,.4.18v9.78h2.24V64.68l0,0Z" />
					<path d="M134.28,77.51h-0.09a1,1,0,0,0-1,1,0.88,0.88,0,0,0,1.09.84c0.84,0,1.28-.29,1.28-0.84A1,1,0,0,0,134.28,77.51Z" />
					<path d="M131.28,77.51h-0.09a1,1,0,0,0-1,1,0.88,0.88,0,0,0,1.09.84c0.84,0,1.28-.29,1.28-0.84A1,1,0,0,0,131.28,77.51Z" />
					<path d="M74.06,56H82.5L65.62,18.24H62.48L46,56h4.9l4.79-11.7H69.27Zm-17-15.2,5.38-13.19L67.82,40.8H57.06Z" />
					<path d="M136.32,56h8.45L127.88,18.2h-3.14L108.25,56h4.91L118,44.26h13.58Zm-17-15.2,5.38-13.19,5.38,13.19H119.32Z" />
					<polygon points="81.24 18.25 109.85 18.25 109.85 22.83 99.64 22.83 99.64 56.05 91.52 56.05 91.52 22.83 81.24 22.83 81.24 18.25" />
					<path d="M42.55,37.64c0-11.24-9.52-20.35-21.27-20.35S0,26.4,0,37.64,9.52,58,21.27,58a22.32,22.32,0,0,0,3.11-.24L35.7,67.95l6-4.83-12-6.84A20.34,20.34,0,0,0,42.55,37.64ZM21.27,54.35c-7.8,0-14.13-7.49-14.13-16.72s6.32-16.72,14.13-16.72S35.4,28.4,35.4,37.64,29.07,54.35,21.27,54.35Z" />
					<path d="M167,38.43a12,12,0,0,0,9.61-11.94c0-7.44-8.79-8.24-8.79-8.24H151.11V56h6.6V39.23H160l10.86,16.41h9.33Zm-9.33-2.33V20.25h8.53s4.58,2.57,4.58,7.32-2,8.53-4.91,8.53h-8.2Z" />
					<path d="M48.54,63.49h1.81l4.82,12.34H53.36L52,72.11H46.79l-1.38,3.72H43.72Zm-1.23,7.24h4.18L49.44,65h0Z" />
					<path d="M56.45,63.49h1.64V75.82H56.45V63.49Z" />
					<path d="M60.86,63.49h5.81c2.32,0,3.75,1.26,3.75,3.23a3,3,0,0,1-2.14,3.13h0c1.43,0.28,1.73,1.33,1.85,2.54s0,2.56.73,3.4H69c-0.47-.5-0.21-1.83-0.45-3s-0.47-2.23-2.06-2.23h-4v5.27H60.86V63.49Zm5.06,5.69c1.54,0,2.85-.4,2.85-2.19a2,2,0,0,0-1.88-2.12H62.5v4.3h3.42Z" />
					<path d="M83.53,75.82H81.82L79,65.46h0L76.12,75.82H74.41L71.25,63.49h1.68l2.42,10.27h0l2.77-10.27H79.9l2.73,10.27h0l2.51-10.27h1.64Z" />
					<path d="M91.33,63.49h1.81L98,75.82H96.15L94.8,72.11H89.58L88.2,75.82H86.51ZM90.1,70.73h4.18L92.22,65h0Z" />
					<path d="M103,70.78v5h-1.64v-5l-4.77-7.29h2l3.7,5.88,3.61-5.88h1.87Z" />
					<path d="M116.23,67.1c-0.19-1.76-1.37-2.52-3.06-2.52-1.38,0-2.77.5-2.77,2.11s2,1.75,4,2.19,3.94,1.14,3.94,3.56c0,2.63-2.57,3.68-4.82,3.68-2.76,0-5.1-1.35-5.1-4.35H110c0,2.07,1.73,3,3.59,3,1.49,0,3.13-.47,3.13-2.25s-2-2-3.94-2.42-4-1-4-3.27c0-2.51,2.23-3.61,4.48-3.61,2.52,0,4.44,1.19,4.55,3.91h-1.56v0Z" />
					<path d="M209.4,70.14l4.71,0.58h0l18.12-.58-19-.73C210.7,69,209.4,69.27,209.4,70.14ZM211,11.44h0l20.58-1.23c-10.87-.36-17.32-0.36-19.35-0.15l-3,.65C208.8,11.08,209.45,11.3,211,11.44ZM194.42,23.11h0ZM272.08,8l-2.89-.18-14.86,4.93a191.67,191.67,0,0,0-19.14,8.42l-1.32,0c15.36-9.79,26-15.85,31.75-18.33l0,0,2.68-2C268.91-.16,268-0.3,265.65.57c-5.82,2.15-15.4,7.21-28.58,15.18l-29.61-1c-4.35-.29-6.74,0-7.1.8-0.65,1.09,1.45,1.45,6,1.09h0l30.39-.66-0.11.07c-2.5,1.63-4.94,3.34-7.35,5.1l-29.81-.38c-3.48,0-5.29.36-5.29,1.09l0.22,1.3,33.75-1.2c-2.27,1.69-4.48,3.45-6.65,5.25l-28-.44c-1.45.15-2.24,0.51-2.39,1.23-0.21,1.59,2,2.17,6.67,2v0l21.61-1-4.72,4.3L195,32.68c-3.62,0-5.51.58-5.8,2a1.12,1.12,0,0,0,1.07,1.16h0.16V35.79l22.09-.55-2.92,2.66c-0.25.27-.5,0.57-0.76,0.88H192.6c-2.9,0-4.2.65-3.84,2A1.27,1.27,0,0,0,189.92,42l16.63-.19q-1,1.37-2,3L193.69,45c-2.75,0-4.13.58-4.13,1.67a1.23,1.23,0,0,0,1,1.44h0l3.62,0.29h0l8.45-.6c-0.49.8-1,1.62-1.53,2.49L201.55,51,195,51l-3.12.36a1.25,1.25,0,0,0-.37,1.38c0.22,1.31,1.81,1.81,4.57,1.45h0l8.34-.32,2.12,2.2a14.61,14.61,0,0,0,4-2.44l12.5-.49,3.32,4.62,0.16,0.2-26.19-.19c-3.77,0-5.44.44-5.36,1.52,0.36,1.38,2.46,1.74,6.45,1.38l26.84-.58q1.78,2.15,3.66,4.21L201.89,64a0.88,0.88,0,0,0-1.09.87c0,1.09,2.32,1.59,6.88,1.31l25.22-.9c1.3,1.4,2.63,2.77,4,4.11l6.6-4.56-6-1.3,7.75-1,3-4.06-12.68-1.37,14.27-1.09L250.78,52,235,49.67h17.18c0.36,0,.43-1.3.21-3.84l-17-1.09L253,43l-0.31-3.23-4.2-.22c-4.9-.31-8.73-2-11.49-4.93l14.14-.35-14.84-.42a15.69,15.69,0,0,1-1.21-1.69l2.39-.07A8.88,8.88,0,0,0,244,28.47l-8.91-.24,14-.63-16.81-.26c1.7-1.49,5-3.45,10-5.92l3.22-.11-2.92,0c2.28-1.13,4.88-2.36,7.84-3.7,9.42-4.34,15.87-7,19.35-8.11C271.79,8.87,272.66,8.36,272.08,8ZM204.73,50.94h-1.48l2.2-.66Zm15.14-18.31a4.26,4.26,0,0,1,.38.77l-0.61,0Zm-2,18.24-4.72,0c2.27-3.07,3.87-7.22,4.8-12.43l-2.75.22L219,35.36l0.09-.29,1.65,0a33.33,33.33,0,0,1,.65,4.12l2.32-2.39a36.69,36.69,0,0,1,.72,7.1C224,45.41,221.83,47.78,217.83,50.87Zm9.4-25.44c2-1.29,3.88-2.51,5.72-3.69l1.18,0Q230.65,23.5,227.23,25.43Z" />
					<path d="M135.66,71.14c-0.62.54-.55,0.91,0.18,1.09v2.55h-6.67V65.7h0l-2.7,2.55c-0.18.19,0,.37,0.55,0.55l-0.09.87A14.51,14.51,0,0,0,124.72,71c-1.34.91-2,1.75-2,2.41l-0.29,3.43H138V69.54ZM127,74.78h-2.35v0h0a1.78,1.78,0,0,1,.56-2L127,71.9v2.88Z" />
					<path d="M174.86,66.27a0.5,0.5,0,0,0-.18.55L175.12,67v7.8h-3V67.73l-1.39.69c-2.51,1-3.79,2-3.79,3v1.9H170v1.45h-7.25V73.24a3.33,3.33,0,0,0-1.2-2.73A4.07,4.07,0,0,0,159,69.6h-8.35a3.54,3.54,0,0,0-2.55.89V64.43L145.84,66c-0.66.47-.66,0.91,0,1.2v7.51h-2.73L143,68.29,140.67,70c-0.29.18-.37,0.36-0.22,0.51L141,70.77l-0.11,6a1.66,1.66,0,0,1-.8,1.5,2.07,2.07,0,0,1-2.19.33c-0.4,0-.47.22-0.11,0.55a3,3,0,0,0,1.9.91l1.93-.62A3,3,0,0,0,143,76.78h34.3V64.56C176,65.47,175.15,66,174.86,66.27Zm-14.3,8.48,0,0H148.13V72.65a1.78,1.78,0,0,1,1.68-.94h9.11c0.88,0,1.35.18,1.53,0.62l0.11,1v1.42Zm9.44-3h-1.46c0-.55.46-0.91,1.46-1.2v1.2Z" />
				</svg>
			</div>
		</div>
	</div>
</nav>