.itinerary-tile-item {
	position: relative;
	right: 0;
	width: 100%;
	height: 200px;
	top: 0;

	&-inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		background-color: $background-grey;
	}

	&-1 {
		/*opacity: 0.9;
		box-shadow: inset 0px -200px 200px -150px rgba(0,0,0,0.5);*/
		position: fixed;
		height: 50%;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 0;
		top: 42px;
		opacity: 1;
		-webkit-transition: opacity 0.2s cubic-bezier(0.77,0,0.67,0);
		transition: opacity 0.2s cubic-bezier(0.77,0,0.67,0);
	}
	&-3 {
		
	}
	
	&-body {
		position: relative;
		width: 100%;
		height: 150px;
	}

	&-shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&-bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&-content {
		position: absolute;
		z-index: 1;
		top: 30px;
		bottom: 20px;
		left: 20px;
		right: 20px;

		h5 {
			color: $text-feature;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 13px;
		}

		p {
			position: absolute;
			bottom: 0;
			width: 100%;
			margin: 0px;
			@include text-shadow();
		}
	}

	&.tip,
	&.info {
		.itinerary-tile-item-bg {
			opacity: 0.4;
			-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			display: block !important;

			&.ng-hide {
				display: block !important;
				opacity: 0;
				-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
				transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			}
		}

		.itinerary-tile-item-shadow {
			display: none !important;
		}

		h5 {
			margin-right: 90px;
		}
	}

	&.image {
		.itinerary-tile-item-bg {
			opacity: 1;
			-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			display: block !important;

			&.ng-hide {
				display: block !important;
				opacity: 0;
				-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
				transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			}
		}

		.itinerary-tile-item-inner {
			background-image: url(@@assetPath@@/imgs/loading.gif);
			background-position: center;
			background-repeat: no-repeat;
		}

		.itinerary-tile-item-shadow {
			@include box-inner-shadow();
		}

	}

	&-qatar-logo {
		height: 30px;
		width: 90px;
		position: absolute;
		top: -6px;
		right: 0;

		svg {
			path,
			polygon {
				fill: white;
			}
		}
	}

	@media (min-width: 780px){
		overflow: hidden;
		position: absolute;
		right: 0;
		/*width: 40%;*/
		height: 33.33333%;
		top: 0;
		background-color: transparent;

		&-1 {
			margin-top: 0;
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			width: auto;
			height: 33.33333%;
			top: 0;
			z-index: normal;
		}

		&-2 {
			top: 33.33333%;
			display: none;
		}

		&-3 {
			top: 66.66667%;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		overflow: hidden;
		position: absolute;
		right: 0;
		/*width: 40%;*/
		height: 33.33333%;
		top: 0;
		background-color: transparent;

		&-1 {
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			width: auto;
			height: 33.33333%;
			top: 0;
			z-index: normal;
			margin-top: 0;
		}

		&-2 {
			top: 33.33333%;
			display: none;
		}

		&-3 {
			top: 66.66667%;
		}
	}

	@media (min-width: 1025px){
		/*width: 50%;*/
		overflow: hidden;
		position: absolute;

		&-2 {
			display: block;
		}

		&-content {
			top: 40px;
			bottom: 30px;
			left: 50px;
			right: 50px;
		}
	}

	@media (min-width: 1280px) and (min-height: 900px){
		&.tip,
		&.info {
			.itinerary-tile-item-content {
				top: 50px;
				bottom: 25%;
				left: 50px;
				right: 50px;

				p {
					font-size: 16px;
					line-height: 22px;
				}

				h5 {
					font-size: 16px;

					svg {
						width: 15px !important;
		    			height: 15px !important;
					}
				}
			}

			.itinerary-tile-item-qatar-logo {
				height: 40px;
				width: 120px;
				top: -11px;
			}
		}
	}

	@media (min-width: 1600px) and (min-height: 900px){
		&.tip,
		&.info {
			.itinerary-tile-item-content {
				top: 60px;
				bottom: 25%;
				left: 50px;
				right: 50px;

				p {
					font-size: 18px;
					line-height: 24px;
				}

				h5 {
					font-size: 18px;

					svg {
						width: 17px !important;
		    			height: 17px !important;
					}
				}
			}

			.itinerary-tile-item-qatar-logo {
				height: 50px;
				width: 150px;
				top: -16px;
			}
		}
	}
}