<div class="itinerary-panel">
	<div class="itinerary-panel-bg" ng-show="vm.bgimage !== undefined" ng-style="{'background-image':'url('+vm.bgimage+')'}"></div>
	<a class="itinerary-panel-clickable" href="" ng-click="vm.goToItinerary(vm.itinerary.slug, vm.itinerary.firststop)">
		<div class="itinerary-panel-emblem">
			<div class="itinerary-panel-emblem-top">

				<panel-emblem icon="vm.itinerary.slug"></panel-emblem>

			</div>
			<div class="itinerary-panel-emblem-content">
				<div class="itinerary-panel-emblem-content-main">
					<h2>{{vm.itinerary.title}}</h2>
					<h3>{{vm.itinerary.subtitle}}</h3>
				</div>
				<div class="itinerary-panel-emblem-content-explore highlight">
					Explore
					<svg viewBox="0 0 20.1 9.8" class="down-arrow">
						<polygon points="17.4 0 10 7.2 2.6 0 0 0 10 9.8 20.1 0 17.4 0" />
					</svg>
				</div>
			</div>
			<div class="itinerary-panel-emblem-bottom">

				<panel-emblem icon="vm.itinerary.slug"></panel-emblem>

			</div>
		</div>
	</a>
</div>