.itinerary-panel {
	overflow: hidden;
	width: 100%;
	float: left;
	height: 25%;
	position: relative;
	
	&-bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
		-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
		transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);

		&.ng-hide {
			display: block !important;
			opacity: 0;
			-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
			transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
		}
	}

	&-clickable {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.54);
		color: white;
		/*-webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
		-moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);*/

		h2 {
			font-size: 25px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 4px;
			margin-top: 6px !important;
		}

		h3 {
			text-transform: lowercase;
			font-weight: normal;
			font-style: italic;
			font-size: 14px;
			margin-bottom: 0;
		}

		&:hover {
			color: white;

			.highlight {
				color: #bababa;
			}
		}
	}

	&-emblem {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		text-align: center;
		width: 100%;

		&-content {
			padding: 0 20px 0;
			height: 50px;

			&-main {
				padding: 0;
				min-width: 100px;
				display: inline-block;
			}

			&-explore {
				display: none;
				margin-top: 8px;
				padding-bottom: 7px;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				color: #bababa;
				position: relative;

				.down-arrow {
					width: 16px;
					height: 8px;
					position: absolute;
					left: 50%;
					margin-left: -8px;
					bottom: 0px;

					polygon {
						fill: #bababa;
					}
				}
			}
		}

		&-top {
			display: none;
		}

		&-bottom {
			display: none;
		}
	}
	
	@media (min-width: 700px){
		width: 50%;
		height: 50%;
	}

	@media (min-width: 780px){
		&-emblem {
			margin-top: -110px;

			&-top {
				height: 130px;
				display: block;
				overflow: hidden;
				position: relative;
			}

			&-bottom {
				height: 130px;
				display: block;
				overflow: hidden;
				position: relative;	

				.panel-emblem {
					position: absolute;
					bottom: 0;
					width: 100%;
				}
			}
			
			&-content {
				display: none;
				height: 120px;
				padding: 0 20px 0;

				&-main {
					border: 2px solid white;
					margin-top: 10px;
					padding: 13px 20px 7px;
					-webkit-border-radius: 2px;
					border-radius: 2px;
					background: rgba(0,0,0,0.15);
				}

				&-explore {
					display: block;
				}
			}
		}

		&-clickable {
			h2 {
				margin-bottom: 5px;
				margin-top: 0px !important;
			}

			.itinerary-panel-emblem-content {
				display: block;
			}

			.itinerary-panel-emblem-top {
				height: 50px;
			}

			.itinerary-panel-emblem-bottom {
				height: 50px;
			}
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&-emblem {
			margin-top: -130px;

			&-top {
				height: 130px;
				display: block;
				overflow: hidden;
				position: relative;
			}

			&-bottom {
				height: 130px;
				display: block;
				overflow: hidden;
				position: relative;	

				.panel-emblem {
					position: absolute;
					bottom: 0;
					width: 100%;
				}
			}
			
			&-content {
				display: none;
				height: 120px;
				padding: 0 20px 0;

				&-main {
					border: 2px solid white;
					padding: 13px 20px 7px;
					-webkit-border-radius: 2px;
					border-radius: 2px;
					margin-top: 10px;
					background: rgba(0,0,0,0.15);
				}

				&-explore {
					display: block;
				}
			}
		}

		&-clickable {
			h2 {
				margin-bottom: 5px;
				margin-top: 0px !important;
			}

			.itinerary-panel-emblem-content {
				display: block;
			}

			.itinerary-panel-emblem-top {
				height: 70px;
			}

			.itinerary-panel-emblem-bottom {
				height: 70px;
			}
		}
	}
	
	@media (min-width: 1025px){
		width: 25%;
		height: 100%;

		&-emblem {
			margin-top: -150px;
		}

		.itinerary-panel-bg {
			-webkit-transition: 0.2s ease-out;
			transition: 0.2s ease-out;
		}

		&-clickable {
			border-right-width: 1px;
			border-style: solid;
			-webkit-border-image: 
			  -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
			-webkit-border-image: 
			  -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
			-moz-border-image:
			  -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;  
			-o-border-image:
			  -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
			border-image:
			  linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
			border-left-width: 0px;
			border-top-width: 0px;
			border-bottom-width: 0px;

			.itinerary-panel-emblem-content {
				height: 0px;
				overflow: hidden;
				opacity: 0;
				-webkit-transition: all 0.2s ease-out;
				transition: all 0.2s ease-out;

				&-main {
					margin-top: 10px;
				}
			}

			.itinerary-panel-emblem-top {
				height: 150px;
				opacity: 0.6;
				-webkit-transition: all 0.2s ease-out;
				transition: all 0.2s ease-out;
			}

			.itinerary-panel-emblem-bottom {
				height: 150px;
				opacity: 0.6;
				-webkit-transition: all 0.2s ease-out;
				transition: all 0.2s ease-out;
				position: relative;

				.panel-emblem {
					position: absolute;
					bottom: 0;
					width: 100%;
				}
			}

			&:hover {
				.itinerary-panel-emblem-content {
					height: 120px;
					opacity: 1;
				}

				.itinerary-panel-emblem-top {
					height: 90px;
					opacity: 1;
				}

				.itinerary-panel-emblem-bottom {
					height: 90px;
					opacity: 1;
				}
			}
		}

		&:hover {
			.itinerary-panel-bg {
				-webkit-transform-origin: 50% 50%;
				-webkit-transform: scale(1.05);
				-webkit-transition: 3s ease-out;
				transform-origin: 50% 50%;
				transform: scale(1.05);
				transition: 3s ease-out;
			}
		}
	}
}

div.itinerary-panel:last-of-type {
	.itinerary-panel-clickable {
		border: 0px;
	}
}