<div id="qatar-app" ng-class="{ismobile: vm.viewport.ismobile, isshort: vm.viewport.isshort}">

	<preloader preload-progress="vm.preloadProgress" preloaded="vm.preloaded" dataloaded="vm.dataloaded"></preloader>

	<div ui-view class="page {{vm.pageClass}}"></div>

</div>