/*
 * Variables
 */
$background-grey: #212121;
$background-light-grey: #595959;
$background-qatar: #660033;
$background-map: #0e0e0e;

$text-light-grey: #adadad;
$text-feature: #69d1ca;

$hr-grey: #535557;

/*
 * Fonts
 */

@font-face {
	font-family:'Display Sans';
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.eot');
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.eot?#iefix') format('embedded-opentype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.woff2') format('woff2'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.woff') format('woff'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.ttf') format('truetype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans.svg#ds3') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Display Sans';
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.eot');
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.woff2') format('woff2'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.woff') format('woff'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.ttf') format('truetype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS6-Display-Sans-Bold.svg#ds6') format('svg');
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'Display Sans';
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.eot');
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.eot?#iefix') format('embedded-opentype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.woff2') format('woff2'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.woff') format('woff'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.ttf') format('truetype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS3-Display-Sans-Italic.svg#ds3') format('svg');
	font-weight:normal;
	font-style:italic;
}

@font-face {
	font-family:'Display Sans';
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.eot');
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.eot?#iefix') format('embedded-opentype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.woff2') format('woff2'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.woff') format('woff'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.ttf') format('truetype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium.svg#ds4') format('svg');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'Display Sans';
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.eot');
	src: url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.eot?#iefix') format('embedded-opentype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.woff2') format('woff2'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.woff') format('woff'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.ttf') format('truetype'),
		url('//interactive.guim.co.uk/embed/labs/fonts/DS4-Display-Sans-Medium-Italic.svg#ds4') format('svg');
	font-weight:500;
	font-style:italic;
}

/*
 * Mixins
 */

@mixin text-shadow(){
	/*-webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	-moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);*/
}

@mixin box-inner-shadow(){
	-webkit-box-shadow: inset 0px -130px 170px -60px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: inset 0px -130px 170px -60px rgba(0, 0, 0, 0.65);
	box-shadow: inset 0px -130px 170px -60px rgba(0, 0, 0, 0.65);
}

@mixin fadeIn() {
	opacity: 0;
}

@mixin fadeOut() {
	opacity: 1;
}

@mixin slideUpIn() {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

@mixin slideUpIn-reverse() {
	-webkit-transform: translateY(0);	
	transform: translateY(0);	
}

@mixin slideDownIn() {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

@mixin slideUpOut() {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

@mixin slideDownOut() {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

@mixin slideFadeUpIn() {
	-webkit-transform: translateY(10%);
	transform: translateY(10%);
	opacity: 0;
}

@mixin slideFadeDownIn() {
	-webkit-transform: translateY(-10%);
	transform: translateY(-10%);
	opacity: 0;
}

@mixin slideFadeDownOut() {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

@mixin slideFadeUpOut() {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

@mixin slideLeftIn {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

@mixin slideRightIn {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

@mixin slideLeftOut {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

@mixin slideRightOut {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/*
 * General Styling
 */

html, body {
	background: black;
	color: white;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

article#article {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10001;
}

figure.element-interactive {
	position: static;
	margin: 0px;
	padding: 0px;
}

.fake-header {
	background: #69D1CA;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
	height: 42px;
}

body #qatar-app {
	font-family:'Display Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: black;
	max-height: 100%;
	height: 100%;
	width: 100%;
	z-index: 2000;
	overflow: hidden;

	h1, h2, h3, h4, h5, h6, p, ul, ol, li {
		margin-top: 0px;
		font-family:'Display Sans', Arial, sans-serif;
	}

	hr {
		border: 0;
		height: 1px;
		background: $hr-grey;
		margin: 30px 0;
	}

	.icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		overflow: visible;

		path,
		polygon {
			fill: white;
		}

		&-pad-right {
			margin-right: 5px;
		}

		&-sm {
			width: 12px;
			height: 12px;

			&.icon-pad-right {
				margin-right: 3px;
			}
		}

		&-lg {
			width: 48px;
			height: 48px;

			&.icon-pad-right {
				margin-right: 7px;
			}
		}

		&-feature {
			path,
			polygon {
				fill: $text-feature;
			}
		}
	}
}

.page {
	position: absolute;
	top: 0;
	bottom: 0;
	/*min-height: 768px;*/
	max-height: 100%;
	width: 100%;
	z-index: 9999;
	//overflow: hidden;

	&-itinerary {
		&.ng-enter { 
			z-index: 9999;
			@include slideLeftIn();
			-webkit-animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
		
		&.ng-leave { 
			z-index: 8888;
			@include fadeOut();
			@include slideRightOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}	
	}

	&-main {
		&.ng-enter { 
			z-index: 9999;
			@include slideLeftIn();
			-webkit-animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			animation: slideLeftIn 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
		
		&.ng-leave { 
			z-index: 8888;
			@include fadeOut();
			@include slideRightOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}	
	}

	@media (min-width: 780px){
		&-itinerary {
			&.ng-enter { 
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
			
			&.ng-leave { 
				z-index: 8888;
				@include slideDownOut();
				@include fadeOut();
				-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}	
		}

		&-main {
			&.ng-enter { 
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
			
			&.ng-leave { 
				z-index: 8888;
				@include slideDownOut();
				@include fadeOut();
				-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}	
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&-itinerary {
			&.ng-enter { 
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
			
			&.ng-leave { 
				z-index: 8888;
				@include slideDownOut();
				@include fadeOut();
				-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}	
		}

		&-main {
			&.ng-enter { 
				z-index: 9999;
				@include slideUpIn();
				-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
			
			&.ng-leave { 
				z-index: 8888;
				@include slideDownOut();
				@include fadeOut();
				-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
				animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
					slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
					-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}	
		}
	}

	.full-height{
		height: 100%;
	}
	
	&.ng-hide { z-index: 9999; }
}

.itinerary-to-itinerary {
	.page {
		&-itinerary {
			&.ng-enter { 
				z-index: 9999;
				-webkit-transform: translateY(0);	
				transform: translateY(0);
				-webkit-animation: nothing 1.2s linear;
				animation: nothing 1.2s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
			
			&.ng-leave { 
				z-index: 8888;
				-webkit-animation: nothing 1.2s linear;
				animation: nothing 1.2s linear;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
				-webkit-transform: translateY(0);	
				transform: translateY(0);
			}	
		}
	}
}

@media (min-width: 780px){
	.itinerary-to-itinerary {
		.page {
			&-itinerary {
				&.ng-enter { 
					z-index: 9999;
					-webkit-animation: nothing 1.2s linear;
					animation: nothing 1.2s linear;
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;

					.container-itinerary {
						@include slideUpIn();
						-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}

					.itinerary-dot-nav {
						@include slideUpIn();
						@include fadeIn();
						-webkit-animation: fadeIn 1.2s cubic-bezier(.23,1,.32,1),
							slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeIn 1.2s cubic-bezier(.23,1,.32,1),
							slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}
					
					.root-container {
						&.ng-enter {
							-webkit-animation: nothing 1.2s linear;
							animation: nothing 1.2s linear;
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
							-webkit-transform: translateY(0);	
							transform: translateY(0);
						}
					}
				}
				
				&.ng-leave {
					z-index: 8888;
					-webkit-animation: nothing 1.2s linear;
					animation: nothing 1.2s linear;
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;

					.container-itinerary {
						@include fadeOut();
						@include slideDownOut();
						-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}

					.itinerary-dot-nav {
						@include fadeOut();
						@include slideDownOut();
						-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}
				}	
			}
		}
	}
}

@media (min-width: 700px) and (min-height: 900px) {
	.itinerary-to-itinerary {
		.page {
			&-itinerary {
				&.ng-enter { 
					z-index: 9999;
					-webkit-animation: nothing 1.2s linear;
					animation: nothing 1.2s linear;
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;

					.container-itinerary {
						@include slideUpIn();
						-webkit-animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						animation: slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}

					.itinerary-dot-nav {
						@include slideUpIn();
						@include fadeIn();
						-webkit-animation: fadeIn 1.2s cubic-bezier(.23,1,.32,1),
							slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeIn 1.2s cubic-bezier(.23,1,.32,1),
							slideUpIn 1.2s cubic-bezier(.23,1,.32,1);
						-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}
					
					.root-container {
						&.ng-enter {
							-webkit-animation: nothing 1.2s linear;
							animation: nothing 1.2s linear;
							-webkit-animation-delay: 0.1s;
							animation-delay: 0.1s;
							-webkit-transform: translateY(0);	
							transform: translateY(0);
						}
					}
				}
				
				&.ng-leave {
					z-index: 8888;
					-webkit-animation: nothing 1.2s linear;
					animation: nothing 1.2s linear;
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;

					.container-itinerary {
						@include fadeOut();
						@include slideDownOut();
						-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}

					.itinerary-dot-nav {
						@include fadeOut();
						@include slideDownOut();
						-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
						animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
							slideDownOut 1.2s cubic-bezier(.23,1,.32,1);
							-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}
				}	
			}
		}
	}
}

@import "app.preloader/preloader.scss";
@import "app.video/video.scss";
@import "app.main/main.scss";
@import "app.itinerary/itinerary.scss";
@import "app.itinerary-item/itinerary-item.scss";
@import "app.404/404.scss";

/*
 * Perfect Scrollbar Overrides
 */

.ps-container {
	& > .ps-scrollbar-y-rail {
		right: 0 !important;
		opacity: 0.1 !important;
		width: 8px !important;
		/*background: $background-grey !important;*/
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		border-radius: 0px !important;
		position: absolute !important;
		
		& > .ps-scrollbar-y {
			background: white !important;
			width: 4px !important;
			-webkit-border-radius: 0px !important;
			-moz-border-radius: 0px !important;
			border-radius: 0px !important;
			right: 0px !important;
		}
	}

	&:hover {
		& > .ps-scrollbar-y-rail {
			opacity: 0.35 !important;
		}
	}
}

/*
 * Animations
 */

@-webkit-keyframes scrolls {
	0%   { top: 5px; opacity: 1; height: 6px}
	95% { top: 14px; opacity: 0; height: 4px}
	100% { }
}

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to {opacity: 1; }
}

@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to {opacity: 0; }
}

@-webkit-keyframes hint {
	from { 
		opacity: 0; 
		-webkit-transform: translateY(166px);
		transform: translateY(166px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(54px);
		transform: translateY(54px);
	}
}

@-webkit-keyframes nothing {
	from {}
	to {}
}

@-webkit-keyframes slideUpIn {
	from { 
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
	}
}

@-webkit-keyframes slideDownIn {
	from { 
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
	}
}

@-webkit-keyframes slideUpOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(70%);
		transform: translateY(70%);
		opacity: 0.2;
	}
}

@-webkit-keyframes slideDownOutFull {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0.2;
	}
}

@-webkit-keyframes slideDownOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(-70%);
		transform: translateY(-70%);
		opacity: 0.2;
	}
}

@-webkit-keyframes slideFadeUpIn {
	from { 
		-webkit-transform: translateY(10%);
		transform: translateY(10%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
		opacity: 1;
	}
}

@-webkit-keyframes slideFadeDownIn {
	from { 
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slideFadeUpOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(10%);	
		transform: translateY(10%);	
	}
}

@-webkit-keyframes slideFadeDownOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	}
}

@-webkit-keyframes slideLeftIn {
	from { 
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0);	
		transform: translateX(0);	
	}
}

@-webkit-keyframes slideRightIn {
	from { 
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes slideLeftOut {
	from { 
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(100%);	
		transform: translateX(100%);	
	}
}

@-webkit-keyframes slideRightOut {
	from { 
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@keyframes scrolls {
	0%   { top: 5px; opacity: 1; height: 6px}
	95% { top: 14px; opacity: 0; height: 4px}
	100% { }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to {opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to {opacity: 0; }
}

@keyframes hint {
	from { 
		opacity: 0; 
		-webkit-transform: translateY(166px);
		transform: translateY(166px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(54px);
		transform: translateY(54px);
	}
}

@keyframes nothing {
	from {}
	to {}
}

@keyframes slideUpIn {
	from { 
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
	}
}

@keyframes slideDownIn {
	from { 
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
	}
}

@keyframes slideUpOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(70%);	
		transform: translateY(70%);	
		opacity: 0.2;
	}
}

@keyframes slideDownOutFull {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0.2;
	}
}

@keyframes slideDownOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(-70%);
		transform: translateY(-70%);
		opacity: 0.2;
	}
}

@keyframes slideFadeUpIn {
	from { 
		-webkit-transform: translateY(10%);
		transform: translateY(10%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);	
		transform: translateY(0);	
		opacity: 1;
	}
}

@keyframes slideFadeDownIn {
	from { 
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideFadeUpOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(10%);	
		transform: translateY(10%);	
	}
}

@keyframes slideFadeDownOut {
	from { 
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-10%);	
		transform: translateY(-10%);	
	}
}

@keyframes slideLeftIn {
	from { 
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0);	
		transform: translateX(0);	
	}
}

@keyframes slideRightIn {
	from { 
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0);	
		transform: translateX(0);	
	}
}

@keyframes slideLeftOut {
	from { 
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(100%);	
		transform: translateX(100%);	
	}
}

@keyframes slideRightOut {
	from { 
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}