<div class="page page-preloader" ng-if="!vm.preloaded">

	<div class="preloader-overlay" ng-style="{'background-image':'url('+vm.bgimage+')'}"></div>
	<!--<h3 class="preloader-title">Europe your way</h3>-->
	<div class="preloader-bar" style="width: {{vm.preloadProgress}}%;"></div>
	<div class="preloader-plane" style="left: {{vm.preloadProgress}}%;">
		<svg viewBox="0 0 90 25">
			<path d="M79.23,16H57.59a4.16,4.16,0,0,1-2.86-1L39.68,0.78A2.55,2.55,0,0,0,37.81,0H35.18c-1.43,0-.55,1.34-0.55,1.34l7.25,13.53S42.43,16,41.44,16H31.33a7.24,7.24,0,0,1-3-.67L18.15,10.4a8,8,0,0,0-3.3-1H10c-1,0-1.1.45-.11,1.12,3.41,2.57,11.54,8.72,14.72,10.74a18.7,18.7,0,0,0,10,2.57H79.34c11,0,10.66-3.24,10.66-3.91C89.89,18.79,83.3,16,79.23,16Z" />
			<path d="M2.4,20.24A2.38,2.38,0,1,1,0,22.62,2.39,2.39,0,0,1,2.4,20.24Z" />
		</svg>
	</div>

</div>