.page-preloader {
	background-color: $background-grey;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 9999;
	margin-top: 42px;

	&.ng-leave {
		z-index: 8888;
		@include fadeOut();
		@include slideRightOut();
		-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
			slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
		animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
			slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	.preloader-title {
		position: absolute;
		bottom: 50%;
		margin-bottom: 60px !important;
		font-size: 30px;
		width: 100%;
		text-align: center;
		z-index: 1;
		font-weight: normal;
	}
	.preloader-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		opacity: 0.2;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.preloader-bar {
		height: 2px;
		background: white;
		-webkit-transition: width 0.2s linear;		
		transition: width 0.2s linear;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 0;
		z-index: 1;
	}

	.preloader-plane {
		height: 25px;
		width: 90px;
		-webkit-transition: left 0.2s linear;		
		transition: left 0.2s linear;
		position: absolute;
		top: 50%;
		margin-top: -23px;
		margin-left: 10px;
		z-index: 1;

		svg {
			height: 25px;
			width: 90px;
			
			path {
				fill: white;
			}
		}
	}

	@media (min-width: 780px){
		.preloader-title {
			margin-bottom: 80px !important;
			font-size: 50px;
		}

		&.ng-leave {
			z-index: 8888;
			@include fadeOut();
			@include slideDownOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&.ng-leave {
			z-index: 8888;
			@include fadeOut();
			@include slideDownOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}
}