<div class="panel-emblem">
	<svg viewBox="0 0 25.25 115.84" class="london" ng-if="vm.icon === 'london'">
		<path d="M25.25,99.12l-8.1-84.64,0.14-.14c2.47-2.81,5.35-9.14,5.49-9.7C23,3,22.92,1.55,22.23.7A1.89,1.89,0,0,0,20.86,0H4.25A1.89,1.89,0,0,0,2.88.7a4.53,4.53,0,0,0-.55,3.94c0.14,0.56,3,7,5.63,9.7L8.1,14.48v0.28L0,99l12.62,16.86ZM4.62,4.22A3.16,3.16,0,0,1,4.48,3.1V2.53H20.62V3.09a3.57,3.57,0,0,1-.14,1.12c-0.27,1.41-3.29,6.46-4.67,8.29l-0.19.29H9.46l-0.14-.28C8,10.68,4.93,5.48,4.62,4.22ZM2.42,98.13l8-82.67h4.4V16l7.8,82.39L12.48,111.92,2.33,98.41Z" />
	</svg>
	<svg viewBox="0 0 22.26 117.16" class="paris" ng-if="vm.icon === 'paris'">
		<path d="M13.87,114.72H8.14V38.86c0-6.2-.29-6.63-5.87-12.26V1.29A1.13,1.13,0,0,0,1.16.14h0A1.24,1.24,0,0,0,0,1.29V27.18a0.53,0.53,0,0,0,.14.4A0.76,0.76,0,0,0,.43,28C6,33.63,6,33.63,6,39v77a1.13,1.13,0,0,0,1.1,1.16h8a1.13,1.13,0,0,0,1.14-1.12s0,0,0,0V39h0c0-5.48,0-5.48,5.58-11,0.14-.14.14-0.29,0.29-0.43a0.5,0.5,0,0,0,.14-0.43V1.29A1.13,1.13,0,0,0,21.18.14h0A1.24,1.24,0,0,0,20,1.29V26.58c-5.56,5.64-5.86,6.08-5.86,12.28h0Z" />
		<path d="M7.49,20.18a1.13,1.13,0,0,0,1.14-1.12s0,0,0,0V1.15A1.13,1.13,0,0,0,7.52,0h0A1.24,1.24,0,0,0,6.34,1.15V19A1,1,0,0,0,7.49,20.18Z" />
		<path d="M14.79,20.18a1.13,1.13,0,0,0,1.14-1.12s0,0,0,0V1.15A1.13,1.13,0,0,0,14.82,0h0a1.24,1.24,0,0,0-1.14,1.15V19A1,1,0,0,0,14.79,20.18Z" />
	</svg>
	<svg viewBox="0 0 55.16 115.86" class="barcelona" ng-if="vm.icon === 'barcelona'">
		<path d="M14.71,115.86H54a1.16,1.16,0,0,0,1.16-1.16h0V1.16A1.16,1.16,0,0,0,54,0H1.17A1.16,1.16,0,0,0,0,1.15H0V114.7a1.16,1.16,0,0,0,1.16,1.13H14.71v0Zm24.56-13.27v11H15.87V101.93h23.4v0.66ZM15.87,13.27v-11h23.4V13.93H15.87V13.27ZM2.33,56.42V2.32H13.57V15.05a1.16,1.16,0,0,0,1.16,1.13h25.7a1.16,1.16,0,0,0,1.14-1.13V2.32H52.81V57H39.34l-0.06-.55a11.78,11.78,0,0,0-23.42,0v0.58H2.33V56.42Zm34,0.62H18.07l0.12-.72a9.5,9.5,0,0,1,18.76,0L37.07,57H36.33ZM37,59.36l-0.19.77a9.49,9.49,0,0,1-18.43,0l-0.19-.77H37ZM2.33,113.54V59.36H15.84l0.09,0.51a11.81,11.81,0,0,0,23.29,0l0.09-.51h13.5v54.18H41.57V100.81a1.16,1.16,0,0,0-1.16-1.16H14.71a1.16,1.16,0,0,0-1.14,1.16v12.73H2.33Z" />
	</svg>
	<svg viewBox="0 0 39.88 115.43" class="rome" ng-if="vm.icon === 'rome'">
		<path d="M7.74,115.42h24.5a1.14,1.14,0,0,0,0-2.28H7.74a1.12,1.12,0,0,0-1.13,1.11s0,0,0,0A1,1,0,0,0,7.74,115.42Z" />
		<path d="M10.35,18.54a1.12,1.12,0,0,0-1.13,1.11s0,0,0,.06v88.8a1.14,1.14,0,1,0,2.27,0V19.71a1.12,1.12,0,0,0-1.07-1.17H10.35Z" />
		<path d="M29.61,18.54a1.12,1.12,0,0,0-1.13,1.11s0,0,0,.06v88.8a1.14,1.14,0,1,0,2.27,0V19.71A1.22,1.22,0,0,0,29.61,18.54Z" />
		<path d="M23.18,14A1.12,1.12,0,0,0,22,15.09s0,0,0,0v94.82a1.14,1.14,0,1,0,2.27,0V15.12A1,1,0,0,0,23.18,14Z" />
		<path d="M16.76,14a1.12,1.12,0,0,0-1.13,1.11s0,0,0,0v94.82a1.14,1.14,0,1,0,2.27,0V15.12A1,1,0,0,0,16.76,14Z" />
		<path d="M33.22,4H6.74a6.7,6.7,0,1,0,6.66,6.74v0a1.14,1.14,0,0,0-2.27,0A4.39,4.39,0,1,1,6.74,6.29H33.22a4.42,4.42,0,1,1-4.39,4.45v0a1.14,1.14,0,0,0-2.27,0A6.66,6.66,0,1,0,33.22,4Z" />
		<path d="M7.73,2.28h24.5a1.12,1.12,0,0,0,1.13-1.11s0,0,0,0A1.12,1.12,0,0,0,32.26,0H7.73A1.12,1.12,0,0,0,6.6,1.11s0,0,0,0A1.22,1.22,0,0,0,7.73,2.28Z" />
		<path d="M24.51,10.71a1.12,1.12,0,0,0-1.1-1.14H16.58a1.14,1.14,0,0,0,0,2.28h6.8a1.12,1.12,0,0,0,1.13-1.11S24.51,10.72,24.51,10.71Z" />
	</svg>
</div>