.panel-emblem {
	svg {
		overflow: hidden;

		path {
			fill: white;
		}

		&.london {
			height: 260px;
			width: 61px;
		}

		&.paris {
			height: 260px;
			width: 50px;
		}

		&.barcelona {
			height: 260px;
			width: 124px;
		}

		&.rome {
			height: 260px;
			width: 90px;
		}
	}

	@media (min-width: 1025px){
		svg {
			&.london {
				height: 300px;
				width: 70px;
			}

			&.paris {
				height: 300px;
				width: 57px;
			}

			&.barcelona {
				height: 300px;
				width: 143px;
			}

			&.rome {
				height: 300px;
				width: 104px;
			}
		}
	}
}