.top-nav {
	&-item {
		height: 25%;
		width: 100%;
		float: left;
		position: relative;

		&-bg {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&-clickable {
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.54);
			color: white;
			text-align: center;
			text-decoration: none;
			-webkit-transition: background 0.3s ease-out;
			transition: background 0.3s ease-out;

			div {
				position: absolute;
				top: 50%;
				margin-top: -18px;
				width: 100%;
			}
		}

		h4 {
			font-size: 28px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 4px;
		}

		h5 {
			text-transform: lowercase;
			font-weight: normal;
			font-style: italic;
			font-size: 17px;
			margin-bottom: 0;
		}

		&:hover {
			color: white;
			text-decoration: none;

			.highlight {
				color: $text-feature;
			}
		}
	}

	@media (max-height: 400px){
		&-item {
			&-clickable {
				div {
					height: auto;
					margin-top: -7px;
				}
			}

			h4 {
				margin-bottom: 0;
			}

			h5 {
				display: none;
			}
		}
	}

	@media (min-width: 780px){
		&-item {
			height: 40px;
			width: 25%;
			float: left;

			h5 {
				display: none;
			}

			h4 {
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				margin-bottom: 10px;
			}

			&-bg {
				&.item-paris {
					background-position: top right;					
				}
			}

			&-clickable {
				font-size: 13px;
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0,0,0,0.9);
				color: white;
				text-align: center;
				padding-top: 12px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;

				div {
					position: static;
					margin: 0;
				}

				&.active {
					color: $text-feature;
					text-decoration: none;
					background: rgba(0,0,0,0.7);

					&:hover {
						color: $text-feature;
						text-decoration: none;
						background: rgba(0,0,0,0.7);
					}
				}

				&:hover {
					background: rgba(0,0,0,0.7);
					text-decoration: none;
					color: white;
				}
			}
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&-item {
			height: 40px;
			width: 25%;
			float: left;

			h5 {
				display: none;
			}

			h4 {
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
			}

			&-bg {
				&.item-paris {
					background-position: top right;					
				}
			}

			&-clickable {
				font-size: 13px;
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0,0,0,0.9);
				color: white;
				text-align: center;
				padding-top: 12px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;

				div {
					position: static;
					margin: 0;
				}

				&.active {
					color: $text-feature;
					background: rgba(0,0,0,0.7);
					text-decoration: none;

					&:hover {
						color: $text-feature;
						background: rgba(0,0,0,0.7);
						text-decoration: none;
					}
				}

				&:hover {
					background: rgba(0,0,0,0.7);
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}