<div class="top-nav-item">
	<div class="top-nav-item-bg item-{{vm.itinerary.slug}}" ng-style="{'background-image':'url('+vm.bgimage+')'}"></div>
	<a class="top-nav-item-clickable" href="" ng-click="vm.goToItinerary(vm.itinerary.slug, vm.itinerary.firststop); vm.navToggle(false);" ng-class="{active: vm.itinerary.slug === vm.active}">
		<div>
			<h4>{{vm.itinerary.title}}</h4>
			<h5>{{vm.itinerary.subtitle}}</h5>
		</div>
	</a>
</div>