.itinerary-map {
	height: 100%;
	width: 100%;
	background: $background-map;
	position: relative;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);
	transition: opacity 0.5s cubic-bezier(0.77,0,0.67,0);

	&.loading {
		opacity: 0;
	}

	&.leaflet-container {
		cursor: default;
		background: $background-map;
	}

	.leaflet-control {
		display: none;
	}
	
	.itinerary-map-marker,
	.itinerary-map-marker-active {
		width: 36px !important;
		height: 50px !important;
		margin-left: -18px !important;
		margin-top: -50px !important;
		text-align:center;

		div.index {
			position: absolute;
			z-index: 1;
			top: 6px;
			left: 0;
			right: 0;
			text-align: center;
			font-weight: bold;
			font-size: 19px;
		}

		svg {
			width: 36px !important;
			height: 50px !important;
			
			path {
				fill: $background-light-grey;
			}
		}

		div.label {
			position: absolute;
			bottom: 50px;
			left: -10000px;
			opacity: 0;
			margin-right: auto;
			margin-left: auto;
			color: white;
			width: 140px;
			padding: 5px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
			text-align: center;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			background: $background-qatar;
			-webkit-transition: bottom 0.2s linear, opacity 0.2s linear;
			transition: bottom 0.2s linear, opacity 0.2s linear;

			.arrow {
				position: absolute;
				bottom: 0px;
				left: 50%;
				margin-left: -8px;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-top: 8px solid $background-qatar;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
				}

				&:after {
					content: '';
					position: absolute;
					left: 10px;
					top: 0;
					border-top: 0px solid #eeeeee;
					border-left: 0px solid transparent;
					border-right: 0px solid transparent;
				}
			}
		}

		&:hover {
			.label {
				left: -57px;
				bottom: 60px;
				opacity: 0.75;
			}
		}

	}

	.itinerary-map-marker-active {
		z-index: 2;

		svg {			
			path {
				fill: $background-qatar;
			}
		}
	}
}