.page-not-found {
	margin-top: 42px;

	&-inner {
		padding: 20px 20px 80px;
		position: relative;
		z-index: 1;
	}

	p {
		font-style: italic;
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 20px;
		color: $text-light-grey;

		a {
			color: $text-light-grey;

			&:hover {
				color: $text-light-grey;
			}
		}
	}

	h2 {
		text-transform: uppercase;
		font-weight: normal;
		font-size: 33px;
		line-height: 30px;
		margin-bottom: 0px;
	}

	h3 {
		font-weight: normal;
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	@media (min-width: 780px){
		&-inner {
			padding: 40px 50px;
		}

		h2 {
			font-size: 43px;
			line-height: 40px;
		}

		h3 {
			font-size: 19px;
			line-height: 24px;
		}

		p {
			font-size: 19px;
			line-height: 24px;	
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		&-inner {
			padding: 40px 50px;
		}

		h2 {
			font-size: 43px;
			line-height: 40px;
		}

		h3 {
			font-size: 19px;
			line-height: 24px;
		}

		p {
			font-size: 19px;
			line-height: 24px;
		}
	}
}