<div class="intro-video">
	<div class="video" id="video-container">
		<a ng-click="playVideo()" class="btn-play" href="" ng-hide="vm.playing" id="video-play">
			<div class="inner">
				<svg viewBox="0 0 22.73 24.25">
					<title>Icon meaning play video</title>
					<path d="M22.73,12.69V11.56L1.09,0,0,1.08V23.17l1.09,1.08Z" />
				</svg>
			</div>
		</a>
	</div>
	<div class="video-controls">
		<a ng-click="muteVideo()" class="btn-mute" href="" ng-class="{muted: vm.muted}">
			<div class="slash"></div>
			<svg viewBox="0 0 30.4 24.79">
				<title>Icon meaning video sound</title>
				<path d="M13.85,0L6.43,7.38H1.34L0,8.7v7.45l1.21,1.2H6.37l7.49,7.44h1.4V0H13.85Z"/>
				<path d="M28,12.37a15.94,15.94,0,0,1-3.41,9.85L25.36,23a13.67,13.67,0,0,0,0-21.2l-0.75.75A15.94,15.94,0,0,1,28,12.37Z"/>
				<path d="M20.88,12.37a10.32,10.32,0,0,1-1.78,5.8L20,19A9.42,9.42,0,0,0,20,5.73l0,0-0.89.89A10.32,10.32,0,0,1,20.88,12.37Z"/>
			</svg>
		</a>
		<a ng-click="skipVideo()" class="btn-skip" href="">
			<svg viewBox="0 0 18.24 24.8">
				<title>Icon meaning skip video</title>
				<path d="M12.73,12.1l-1.6-1.59h0l-10-10L0,1.62V23.71l1.09,1.08,10-10h0l1.6-1.59V12.1h0Z" />
				<path d="M15.45,0h2.79V24.8H15.45V0Z" />
			</svg>
		</a>
		<span>Skip Video</span>
	</div>
</div>