// Remove default ios play button
video::-webkit-media-controls-start-playback-button {
	display: none !important;
}

.intro-video {
	position: absolute;
	top: -75px;
    padding-top: 75px;
	bottom: 0;
	/*min-height: 768px;*/
	max-height: 100%;
	height: 100%;
	width: 100%;
	z-index: 9999;
	overflow: hidden;

	&.ng-leave {
		z-index: 8888;
		@include fadeOut();
		@include slideRightOut();
		-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
			slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
		animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
			slideRightOut 1.2s cubic-bezier(.23,1,.32,1);
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	.video {
		padding-top: 56.25%;
		position: absolute;
		top: 50%;
		margin-top: -28.12%;
		width: 100%;

		video {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.video-controls {
		position: absolute;
		bottom: 30px;
		right: 30px;
		text-align: right;
		overflow: hidden;

		span {
			padding: 18px 0 0 0;
			display: inline-block;
			text-align: center;
			float: right;
			text-transform: uppercase;
			color: white;
			font-weight: bold;
			font-size: 14px;
		}

		a {
			width: 50px;
			height: 50px;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background: transparent;
			border: 2px solid white;
			margin-left: 20px;
			display: inline-block;
			text-align: center;
			float: right;

			&.btn-skip {
				svg {
					width: 100%;
					height: 22px;
					margin-top: 14px;
					margin-left: 0;
				}
			}

			&.btn-mute {
				position: relative;
				overflow: hidden;

				svg {
					width: 100%;
					height: 22px;
					margin-top: 14px;
					margin-left: 0;
				}

				.slash {
					border-top: 1px solid white;
					border-bottom: 1px solid white;
					width: 50px;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					position: absolute;
					top: 48%;
					left: 0;
					display: none;
				}

				&.muted {
					.slash {
						display: block;
					}
				}
			}
		}
	}

	.btn-play {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		cursor: pointer;

		.inner {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -30px;
			margin-top: -30px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			background: transparent;
			border: 2px solid white;
			text-align: center;
			width: 60px;
			height: 60px;

			svg {
				width: 30px;
				height: 32px;
				margin-top: 15px;
				margin-left: 5px;

				path, rect, polygon {
					fill: white;
				}
			}
		}

		&.played {
			top: -100%;
		}
	}

	a {
		svg {
			display: inline-block;

			path, rect, polygon {
				fill: white;
			}
		}
	}

	@media (min-width: 780px){
		top: 0;
		padding: 0;
		position: static;
		width: auto;

		.video {
			padding: 0;
			position: static;
			top: auto;
			margin: 0;
			width: auto;

			video {
				position: fixed;
				top: 50%;
				left: 50%;
				margin-top: 41px;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				-ms-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
		}

		a {
			&:hover {
				svg {
					path, rect, polygon {
						fill: $background-qatar;
					}
				}
			}
		}

		z-index: 9999;

		&.ng-leave {
			z-index: 8888;
			@include fadeOut();
			@include slideDownOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}

	@media (min-width: 700px) and (min-height: 900px) {
		top: 0;
		padding: 0;
		position: static;
		width: auto;

		.video {
			padding: 0;
			position: static;
			top: auto;
			margin: 0;
			width: auto;

			video {
				position: fixed;
				top: 50%;
				left: 50%;
				margin-top: 41px;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				-ms-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
		}

		a {
			&:hover {
				svg {
					path, rect, polygon {
						fill: $background-qatar;
					}
				}
			}
		}

		z-index: 9999;

		&.ng-leave {
			z-index: 8888;
			@include fadeOut();
			@include slideDownOut();
			-webkit-animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			animation: fadeOut 1.2s cubic-bezier(.23,1,.32,1),
				slideDownOutFull 1.2s cubic-bezier(.23,1,.32,1);
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
	}

	@media (min-width: 1025px){
		.btn-play {
			display: none;
		}
	}
}