.itinerary-social-share {
	position: absolute;
	top: 15px;
    right: 15px;
	z-index: 2;
	width: 40px;
	height: 40px;
	text-align: center;
	-webkit-transition: width 0.4s cubic-bezier(0.77,0,0.67,0);
	transition: width 0.4s cubic-bezier(0.77,0,0.67,0);

	a {
		width: 40px;
		height: 40px;
		display: block;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		right: 0;
		z-index: 1;
		background: white;
	
		svg {
			width: 20px;
			height: 20px;
			overflow: visible;
			margin-top: 9px;
			margin-left: -4px;

			path {
				fill: $background-light-grey;
				-webkit-transition: fill 0.3s ease-out;
				transition: fill 0.3s ease-out;
			}
		}

		&:hover {
			svg {
				path {
					fill: $background-qatar;
				}
			}
		}
	}

	ul.share-menu {
		list-style: none;
		position: absolute;
		margin: 0;
		padding: 0;
		right: 0px;
		opacity: 0;
		top: 8px;
		height: 30px;
		width: 150px;
		text-align: right;
		-webkit-transition: opacity 0.4s cubic-bezier(0.77,0,0.67,0),
			right 0.4s cubic-bezier(0.77,0,0.67,0);
		transition: opacity 0.4s cubic-bezier(0.77,0,0.67,0),
			right 0.4s cubic-bezier(0.77,0,0.67,0);

		li {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-left: 10px;

			a {
				width: 25px;
				height: 25px;
				text-align: center;
				background: white;
				display: inline-block;
				overflow: hidden;
				position: relative;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;

				svg {
					width: 15px;
					height: 15px;
					overflow: visible;
					margin-top: 5px;
					margin-left: -1px;

					path {
						fill: black;
					}
				}

				&:hover {
					svg {
						path {
							fill: $background-qatar;
						}
					}
				}
			}
		}
	}

	&.active {
		width: 200px;

		ul.share-menu {
			opacity: 1;
			right: 55px;
		}

		a {
			svg {
				path {
					fill: $background-qatar;
				}
			}
		}
	}

	@media (min-width: 780px){
		top: 15px;
    	right: 15px;
    }
}