<div class="itinerary-social-share" ng-class="{active: vm.shareOpen}">
	<a href="" ng-click="vm.toggleShare()">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.71 27.07">
			<title>Icon meaning share</title>
			<path d="M23.41,18.84A5,5,0,0,0,20.13,20l-6.56-3.63a5,5,0,0,0,0-2.85l6.55-3.63a5,5,0,0,0,3.28,1.21,4.86,4.86,0,0,0,5-4.75,4.95,4.95,0,0,0-9.89,0,4.12,4.12,0,0,0,.1.88L12,10.91A6.17,6.17,0,0,0,7.71,9.17,6,6,0,0,0,1.65,15a6,6,0,0,0,6.07,5.83A6.16,6.16,0,0,0,12,19.09l6.56,3.63a4,4,0,0,0-.1.88,4.95,4.95,0,1,0,5.14-4.76H23.41Zm1.78,4.76a1.78,1.78,0,1,1-1.87-1.69h0.09a1.72,1.72,0,0,1,1.78,1.66v0ZM21.63,6.4A1.78,1.78,0,1,1,23.5,8.09H23.41a1.72,1.72,0,0,1-1.78-1.66v0Zm-11,8.6a2.81,2.81,0,0,1-2.86,2.76h0a2.77,2.77,0,0,1-.33-5.53H7.73A2.81,2.81,0,0,1,10.61,15v0h0Z" />
		</svg>
	</a>
	<ul class="share-menu">
		<li>
			<a href="" ng-click="vm.openShareWindow('facebook')" target="_blank">
				<svg viewBox="0 0 12.28 28.4">
					<title>Facebook icon</title>
					<path d="M12.28,4.37H9.48A2.83,2.83,0,0,0,7.7,6.62v3.87h4.58v4H7.7V28.4H3V14.48H0v-4H3V7.12C3,3.18,5.76,0,9.57,0h2.7V4.37h0Z" />
				</svg>
			</a>
		</li>
		<li>
			<a href="" ng-click="vm.openShareWindow('twitter')" target="_blank">
				<svg viewBox="0 0 28.89 23.08">
					<title>Twitter icon</title>
					<path d="M20.06,0a5.84,5.84,0,0,1,4.29,1.86A11.32,11.32,0,0,0,28.07.49a6,6,0,0,1-2.56,3.24,16,16,0,0,0,3.38-.89,12.92,12.92,0,0,1-3,3V6.56A16.54,16.54,0,0,1,9.33,23.08H9.08A17.42,17.42,0,0,1,0,20.49a8.16,8.16,0,0,0,1.4.08,11.66,11.66,0,0,0,7.35-2.51,5.94,5.94,0,0,1-5.53-4,4.8,4.8,0,0,0,1.07.08A9.32,9.32,0,0,0,5.86,14a5.84,5.84,0,0,1-4.7-5.72V8.18a6.15,6.15,0,0,0,2.64.73A5.88,5.88,0,0,1,1.16,4,6,6,0,0,1,2,1.13,17,17,0,0,0,14.2,7.21a7,7,0,0,1-.2-1.3A6.11,6.11,0,0,1,20,0" />
				</svg>
			</a>
		</li>
		<li>
			<a href="" ng-click="vm.openShareWindow('pinterest')" target="_blank">
				<svg viewBox="0 0 11.47 14.5">
					<title>Pinterest icon</title>
					<path d="M5.9,0C8.7,0,11,1.4,11.4,4c0.4,3.1-1.3,6.5-4.4,6.5H6.7a4.57,4.57,0,0,1-2-.9c-0.4,2-.8,3.9-2.3,4.9-0.4-3,.7-5.3,1.1-7.7-0.7-1.3,0-3.6,1.4-3.6a0.9,0.9,0,0,1,.5.1C7.6,4.1,3.5,8.4,6.3,9H6.7c2.6,0,3.5-5,1.8-6.7A3.47,3.47,0,0,0,6,1.3,4.26,4.26,0,0,0,1.7,6c0.2,0.9,1.1,1.2.4,2.4C0.4,8-.1,6.7,0,5A5.46,5.46,0,0,1,5,0H5.9" />
				</svg>
			</a>
		</li>
		<li>
			<a href="" ng-click="vm.openShareWindow('googleplus')" target="_blank">
				<svg viewBox="0 0 13.8 13.2">
					<title>Google+ icon</title>
					<path d="M6.2,7.1a1.4,1.4,0,0,1-.7-0.9,1.07,1.07,0,0,1,.6-0.8A3,3,0,0,0,7.1,3c0-1.1-.1-1.8-1-2.3,0.1,0,.4-0.1.6-0.1C7.2,0.5,7.9.5,7.9,0.1V0H4.3S0.8,0.1.8,3.3A2.78,2.78,0,0,0,1.9,5.7a3,3,0,0,0,1.7.4H3.8a2.33,2.33,0,0,0,.4,1.5h0c-1,0-4.2.2-4.2,2.8s2.9,2.8,3.5,2.8H3.7A4.73,4.73,0,0,0,6,12.7,3,3,0,0,0,7.8,9.8,3.59,3.59,0,0,0,6.2,7.1ZM2.4,3.5a2.89,2.89,0,0,1,0-1.6,1.5,1.5,0,0,1,1-.9H3.7A1.87,1.87,0,0,1,5.6,2.6a2.28,2.28,0,0,1-1,2.7H4.3A2.19,2.19,0,0,1,2.4,3.5ZM4.2,12H3.9c-1.3,0-2.3-.6-2.3-1.6A2,2,0,0,1,2.2,9,3.26,3.26,0,0,1,4,8.3H4.2c1.3,0,2.2.7,2.2,1.7S5.6,11.9,4.2,12Zm7.2-6.8V3H9.9V5.2H7.7V6.6H10V8.8h1.5V6.6h2.3V5.2H11.4Z" />
				</svg>
			</a>
		</li>
	</ul>
</div>